<div id="Charts" class="row my-2" style="display: none;">
    <div class="col-md-12">
        <div class="row my-2">
            <div class="col-md-6 col-12">
                <div id="chartDeltaLapTime"></div>
            </div>
            <div class="col-md-6 col-12">
                <div id="chartDeltaSpeed"></div>
            </div>

            <script>
                $(document).ready(function() {
                    /*
                        =========================
                        Delta: Lap Time
                        =========================
                    */
                    var chartDeltaLapTime_traces = [];

                    // Show message when 1 lap only
                    // therefore no data to compare with
                    {% if (charts_info | length) == 1 %}
                        chartDeltaLapTime_traces.push({
                            x: [0.5],
                            y: [0.5],
                            mode: 'text',
                            text: ['No Data Available'],
                            textfont: {
                                size: 20,
                                color: 'red',
                            },
                            hoverinfo: 'none',
                            showlegend: false,
                        });
                    {% else %}
                        {% for lap, data in charts_info.items() %}
                            var laptimes_cleaned = {{ data['LapTime'] | tojson }}.map(lapTimeFormat);

                            chartDeltaLapTime_traces.push({
                                x: {{ data['Distance'] | tojson }}, // Switched out `DistanceRefLap`
                                y: {{ data['LapTimeDelta'] | tojson }},
                                mode: 'lines',
                                name: 'Lap {{ lap }}',
                                customdata: laptimes_cleaned,
                                hovertemplate: '⏱️ %{customdata}',
                                //visible: {% if loop.index == data['LapBest'] %} true {% else %} 'legendonly' {% endif %},
                            });
                        {% endfor %}
                    {% endif %}

                    var chartDeltaLapTime_layout = {
                        autosize: true,
                        showlegend: true,
                        title: 'Delta: Lap Time',
                        xaxis: {
                            title: 'Distance (m)',
                        },
                        yaxis: {
                            title: 'Lap Time Delta (s)',
                        },
                    };

                    Plotly.newPlot(
                        'chartDeltaLapTime',
                        chartDeltaLapTime_traces,
                        chartDeltaLapTime_layout,
                    );

                    /*
                        =========================
                        Delta: Speed
                        =========================
                    */
                    var chartDeltaSpeed_traces = [];

                    // Show message when 1 lap only
                    // therefore no data to compare with
                    {% if (charts_info | length) == 1 %}
                        chartDeltaSpeed_traces.push({
                            x: [0.5],
                            y: [0.5],
                            mode: 'text',
                            text: ['No Data Available'],
                            textfont: {
                                size: 20,
                                color: 'red',
                            },
                            hoverinfo: 'none',
                            showlegend: false,
                        });
                    {% else %}
                        {% for lap, data in charts_info.items() %}
                            var speeds_kmh = {{ data['Speed'] | tojson }}.map(speed => (speed * 3.6).toFixed(2));

                            chartDeltaSpeed_traces.push({
                                x: {{ data['Distance'] | tojson }}, // Switched out `DistanceRefLap`
                                y: {{ data['SpeedDelta'] | tojson }},
                                mode: 'lines',
                                name: 'Lap {{ lap }}',
                                customdata: speeds_kmh,
                                hovertemplate: '🏎️ %{customdata} km/h',
                                //visible: {% if loop.index == data['LapBest'] %} true {% else %} 'legendonly' {% endif %},
                            });
                        {% endfor %}
                    {% endif %}

                    var chartDeltaSpeed_layout = {
                        autosize: true,
                        showlegend: true,
                        title: 'Delta: Speed',
                        xaxis: {
                            title: 'Distance (m)',
                        },
                        yaxis: {
                            title: 'Speed Delta (m/s)',
                        },
                    };

                    Plotly.newPlot(
                        'chartDeltaSpeed',
                        chartDeltaSpeed_traces,
                        chartDeltaSpeed_layout,
                    );

                    /*
                        =========================
                        Sync hover on Lap Time & Speed delta charts
                        =========================
                    */
                    var chartDeltaLapTime = document.getElementById('chartDeltaLapTime');
                    var chartDeltaSpeed = document.getElementById('chartDeltaSpeed');

                    chartDeltaLapTime.on('plotly_hover', function(data) {
                        var curveNumber = data.points[0].curveNumber;
                        var pointIndex = data.points[0].pointIndex;

                        Plotly.Fx.hover('chartDeltaSpeed', [{
                            curveNumber: curveNumber, // match lap trace
                            pointNumber: pointIndex, // match point within the lap trace
                        }]);
                    });

                    chartDeltaLapTime.on('plotly_unhover', function(data) {
                        Plotly.Fx.unhover('chartDeltaSpeed');
                    });

                    chartDeltaSpeed.on('plotly_hover', function(data) {
                        var curveNumber = data.points[0].curveNumber;
                        var pointIndex = data.points[0].pointIndex;

                        Plotly.Fx.hover('chartDeltaLapTime', [{
                            curveNumber: curveNumber, // match lap trace
                            pointNumber: pointIndex, // match point within the lap trace
                        }]);
                    });

                    chartDeltaSpeed.on('plotly_unhover', function(data) {
                        Plotly.Fx.unhover('chartDeltaLapTime');
                    });
                });
            </script>
        </div>

        <div class="row my-2">
            <div class="col-md-6 col-12">
                <div id="chartBrakeThrottle"></div>
            </div>
            <div class="col-md-6 col-12">
                <div id="chartSpeedGear"></div>
            </div>

            <!-- Ployly chart -->
            <script>
                $(document).ready(function() {
                    /*
                        =========================
                        Brake and Throttle
                        =========================
                    */
                    var chartBrakeThrottle_traces = [];

                    {% for lap, data in charts_info.items() %}
                        var throttle_cleaned = {{ data['Throttle'] | tojson }}.map(throttle => throttle.toFixed(3));

                        chartBrakeThrottle_traces.push({
                            x: {{ data['Distance'] | tojson }},
                            y: {{ data['Throttle'] | tojson }},
                            yaxis: 'y1',
                            mode: 'lines',
                            name: 'L{{ lap }} Throttle',
                            customdata: throttle_cleaned,
                            hovertemplate: '🟢 %{customdata}&nbsp;',
                            visible: {% if lap == laps_report_info['TopLaps'][0] %} true {% else %} 'legendonly' {% endif %},
                        });
                    {% endfor %}

                    {% for lap, data in charts_info.items() %}
                        var brake_cleaned = {{ data['Brake'] | tojson }}.map(brake => brake.toFixed(3));

                        chartBrakeThrottle_traces.push({
                            x: {{ data['Distance'] | tojson }},
                            y: {{ data['Brake'] | tojson }},
                            yaxis: 'y2',
                            mode: 'lines',
                            name: 'L{{ lap }} Brake',
                            customdata: brake_cleaned,
                            hovertemplate: '🔴 %{customdata}&nbsp;',
                            visible: {% if lap == laps_report_info['TopLaps'][0] %} true {% else %} 'legendonly' {% endif %},
                        });
                    {% endfor %}

                    var chartBrakeThrottle_layout = {
                        autosize: true,
                        showlegend: true,
                        title: 'Brake and Throttle',
                        xaxis: {
                            title: 'Distance (m)',
                        },
                        yaxis: {
                            title: 'Throttle (%)',
                            side: 'left',
                            overlaying: 'y2'
                        },
                        yaxis2: {
                            title: 'Brake (%)',
                            side: 'right',
                        },
                        legend: {
                            x: 1.1,
                            y: 1,
                            xanchor: 'left',
                            yanchor: 'top',
                        },
                    };

                    Plotly.newPlot(
                        'chartBrakeThrottle',
                        chartBrakeThrottle_traces,
                        chartBrakeThrottle_layout,
                    );

                    /*
                        =========================
                        Speed and Gear
                        =========================
                    */
                    var chartSpeedGear_traces = [];

                    {% for lap, data in charts_info.items() %}
                        var speeds_kmh = {{ data['Speed'] | tojson }}.map(speed => (speed * 3.6).toFixed(2));

                        chartSpeedGear_traces.push({
                            x: {{ data['Distance'] | tojson }},
                            y: speeds_kmh,
                            yaxis: 'y1',
                            mode: 'lines',
                            name: 'L{{ lap }} Speed',
                            hovertemplate: '🏎️ %{y} km/h',
                            visible: {% if lap == laps_report_info['TopLaps'][0] %} true {% else %} 'legendonly' {% endif %},
                        });
                    {% endfor %}

                    {% for lap, data in charts_info.items() %}
                        chartSpeedGear_traces.push({
                            x: {{ data['Distance'] | tojson }},
                            y: {{ data['Gear'] | tojson }},
                            yaxis: 'y2',
                            mode: 'markers',
                            marker: {
                                size: 4,
                                symbol: 'circle',
                            },
                            name: 'L{{ lap }} Gear',
                            hovertemplate: '⚙️ %{y}&nbsp;',
                            visible: {% if lap == laps_report_info['TopLaps'][0] %} true {% else %} 'legendonly' {% endif %},
                        });
                    {% endfor %}

                    var chartSpeedGear_layout = {
                        autosize: true,
                        showlegend: true,
                        title: 'Speed and Gears',
                        xaxis: {
                            title: 'Distance (m)',
                        },
                        yaxis: {
                            title: 'Speed (km/h)',
                            side: 'left',
                            overlaying: 'y2'
                        },
                        yaxis2: {
                            title: 'Gear',
                            side: 'right',
                            dtick: 1,
                        },
                        legend: {
                            x: 1.1,
                            y: 1,
                            xanchor: 'left',
                            yanchor: 'top',
                        },
                    };

                    Plotly.newPlot(
                        'chartSpeedGear',
                        chartSpeedGear_traces,
                        chartSpeedGear_layout,
                    );

                    /*
                        =========================
                        Sync hover on Brake/Throttle and Speed/Gear
                        =========================
                    */
                    var chartBrakeThrottle = document.getElementById('chartBrakeThrottle');
                    var chartSpeedGear = document.getElementById('chartSpeedGear');

                    chartBrakeThrottle.on('plotly_hover', function(data) {
                        var curveNumber = data.points[0].curveNumber;
                        var pointIndex = data.points[0].pointIndex;

                        Plotly.Fx.hover('chartSpeedGear', [{
                            curveNumber: curveNumber, // match lap trace
                            pointNumber: pointIndex, // match point within the lap trace
                        }]);
                    });

                    chartBrakeThrottle.on('plotly_unhover', function(data) {
                        Plotly.Fx.unhover('chartSpeedGear');
                    });

                    chartSpeedGear.on('plotly_hover', function(data) {
                        var curveNumber = data.points[0].curveNumber;
                        var pointIndex = data.points[0].pointIndex;

                        Plotly.Fx.hover('chartBrakeThrottle', [{
                            curveNumber: curveNumber, // match lap trace
                            pointNumber: pointIndex, // match point within the lap trace
                        }]);
                    });

                    chartSpeedGear.on('plotly_unhover', function(data) {
                        Plotly.Fx.unhover('chartBrakeThrottle');
                    });
                });
            </script>
        </div>
    </div>
</div>
