<div id="Laps" class="row my-2" style="display: none;">
    <div class="col-md-12">
        <div class="row my-2">
            <h3>Lap Times</h3>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Lap No.</th>
                        <th scope="col">Lap Time</th>
                        <th scope="col">Delta (s)</th>
                        <th scope="col">Delta (%)</th>
                        <th scope="col">Lap Distance (km)</th>
                        <th scope="col">Speed (kph, Max)</th>
                        <th scope="col">Speed (kph, Avg)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for idx in lap_info %}
                        <tr>
                            <th scope="row">{{ idx.LapNum }}</th>
                            <td
                                {% if idx.IsBestLap %}
                                    class="table-{% if idx.IsBestLap %}success{% endif %} fw-bold"
                                    style="border-color:revert;"
                                {% endif %}
                            >
                                {{ idx.LapTime | timeformat }}
                            </td>
                            <td>{{ idx.DeltaToBestLap | round(3) }}</td>
                            <td>{{ idx.DeltaToBestLapPercent | round() }}</td>
                            <td
                                {% if idx.IsBestLapDist %}
                                    class="table-{% if idx.IsBestLapDist %}success{% endif %} fw-bold"
                                    style="border-color:revert;"
                                {% endif %}
                            >
                                {{ idx.LapDistance | to_km }}
                            </td>
                            <td
                                {% if idx.IsBestMaxSpeed %}
                                    class="table-{% if idx.IsBestMaxSpeed %}success{% endif %} fw-bold"
                                    style="border-color:revert;"
                                {% endif %}
                            >
                                {{ idx.SpeedMax | round(3) }}
                            </td>
                            <td
                                {% if idx.IsBestAvgSpeed %}
                                    class="table-{% if idx.IsBestAvgSpeed %}success{% endif %} fw-bold"
                                    style="border-color:revert;"
                                {% endif %}
                            >
                                {{ idx.SpeedAvg | round(3) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row my-2">
            <h3>Sector Times</h3>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Lap No.</th>
                        <th scope="col">Lap Time</th>
                        {% for split in range(1, split_time_info[0]['LapSectorTimes'] | length) %}
                            <th scope="col">Sector {{ split }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for idx in split_time_info %}
                        <tr>
                            <th scope="row">{{ idx }}</th>
                            <td>{{ split_time_info[idx]['LapTime'] | timeformat }}</td>
                            {% for time in range(1, split_time_info[idx]['LapSectorTimes'] | length) %}
                                <td>{{ split_time_info[idx]['LapSectorTimes'][time] | timeformat }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
