<div id="TrackMaps" class="row my-2" style="display: none;">
    <div class="col-md-12">
        <div class="row my-2">
            <div class="col-lg-6 col-12">
                <div id="mapSectors"></div>
            </div>

            <script>
                $(document).ready(function() {
                    /*
                        =========================
                        GPS: Track Map
                        =========================
                    */
                    const vehicle = "{{ static_info['DriverInfo']['Drivers'][0]['CarScreenName'] }}";

                    const latitudes = {{ reference_lap_info['Latitude'] | tojson }};
                    const longitudes = {{ reference_lap_info['Longitude'] | tojson }};

                    const latitude_start = latitudes[0];
                    const longitude_start = longitudes[0]

                    const latitude_finish = latitudes[latitudes.length - 1];
                    const longitude_finish = longitudes[longitudes.length - 1];

                    // Since both GPS Lat/Lon are data from reference lap aka Best Lap
                    // sensor from best lap will need to be used to match
                    const speeds = {{ charts_info[laps_report_info['TopLaps'][0]]['Speed'] | tojson }};
                    const rpms = {{ charts_info[laps_report_info['TopLaps'][0]]['RPM'] | tojson }};
                    const gears = {{ charts_info[laps_report_info['TopLaps'][0]]['Gear'] | tojson }};
                    const laptimes = {{ charts_info[laps_report_info['TopLaps'][0]]['LapTime'] | tojson }};

                    // Convert and clean up
                    const speeds_kmh = speeds.map(speed => (speed * 3.6).toFixed(2));
                    const speeds_mph = speeds.map(speed => (speed * 2.237).toFixed(2));
                    const rpms_cleaned = rpms.map(rpm => Math.round(rpm));
                    const gears_cleaned = gears.map(gear => {
                        if (gear === 0) return 'N';
                        if (gear === -1) return 'R';
                        return gear.toString();
                    });
                    const laptimes_cleaned = laptimes.map(lapTimeFormat);

                    // Combine latitudes and longitudes into a GeoJSON format for Turf.js
                    const points = latitudes.map((lat, index) => ({
                        type: 'Feature',
                        geometry: {
                            type: 'Point',
                            coordinates: [longitudes[index], lat]
                        },
                        properties: {
                            // Attach data to each point
                            speed_kmh: speeds_kmh[index],
                            speed_mph: speeds_mph[index],
                            rpm: rpms_cleaned[index],
                            gear: gears_cleaned[index],
                            laptime: laptimes_cleaned[index],
                        },
                    }));

                    const customData = points.map((point) => [
                        point.properties.speed_mph,
                        point.properties.rpm,
                        point.properties.gear,
                        point.properties.laptime,
                    ]);

                    const geoJsonPoints = {
                        type: 'FeatureCollection',
                        features: points
                    };

                    // Use Turf.js to calculate the bounding box of the points
                    const bbox = turf.bbox(geoJsonPoints); // [west, south, east, north]

                    // Calculate the center (centroid) of the points
                    const center = turf.center(geoJsonPoints); // returns { type: 'Feature', geometry: { type: 'Point', coordinates: [lon, lat] } }

                    // Extract the center coordinates
                    const center_lat = center.geometry.coordinates[1];
                    const center_lon = center.geometry.coordinates[0];

                    // Set padding
                    const padding = 0.25; // 1.00 = 100 percent

                    // Expand the bounding box by the padding percentage
                    const lat_diff = bbox[3] - bbox[1];
                    const lon_diff = bbox[2] - bbox[0];

                    const expanded_bbox = [
                        bbox[0] - lon_diff * padding, // West
                        bbox[1] - lat_diff * padding, // South
                        bbox[2] + lon_diff * padding, // East
                        bbox[3] + lat_diff * padding  // North
                    ];

                    // Define the data trace for the map
                    var map_traces = [];

                    // Set marker for sectors
                    {% for idx in range(sectors_info['Sectors']['Percentages'] | length) %}
                        {% if idx == (sectors_info['Sectors']['Percentages'] | length) - 1 %}
                            var sector_start = {{ sectors_info['Sectors']['SectorPoints'][idx] }};
                            var sector_end = -1;
                        {% else %}
                            var sector_start = {{ sectors_info['Sectors']['SectorPoints'][idx] }};
                            var sector_end = {{ sectors_info['Sectors']['SectorPoints'][idx + 1] }};
                        {% endif %}

                        var sector_lat = latitudes.slice(sector_start, sector_end);
                        var sector_lon = longitudes.slice(sector_start, sector_end);
                        var sector_speed_kmh = speeds_kmh.slice(sector_start, sector_end);

                        var sector_custom_data = points.slice(sector_start, sector_end).map((point) => [
                            point.properties.speed_mph,
                            point.properties.rpm,
                            point.properties.gear,
                            point.properties.laptime,
                        ]);

                        map_traces.push({
                            type: 'scattergeo',
                            mode: 'lines',
                            name: vehicle,
                            lat: latitudes.slice(sector_start, sector_end),
                            lon: longitudes.slice(sector_start, sector_end),
                            text: speeds_kmh.slice(sector_start, sector_end),
                            customdata: sector_custom_data,
                            hovertemplate:
                                '⏱️ %{customdata[3]}<br>' +
                                '🏎️ %{text} km/h | %{customdata[0]} mph<br>' +
                                '🌪️ %{customdata[1]} revs/min<br>' +
                                '⚙️ %{customdata[2]}',
                            line: {
                                color: '{{ sectors_info['Sectors']['SectorColors'][idx] }}',
                                width: 5,
                            },
                        });
                    {% endfor %}

                    // Start from 1 since sector 0 marker is the same as start
                    {% for idx in range(1,sectors_info['Sectors']['Percentages'] | length) %}
                        map_traces.push({
                            type: 'scattergeo',
                            mode: 'markers',
                            lat: [{{ sectors_info['Sectors']['Latitude'][idx] }}],
                            lon: [{{ sectors_info['Sectors']['Longitude'][idx] }}],
                            marker: {
                                size: 8,
                                color: 'purple',
                                symbol: 'diamond',
                            },
                            name: 'Sector {{idx}}',
                            text: 'Sector {{idx}}',
                            hoverinfo: 'text',
                        });
                    {% endfor %}

                    // Add finish point/line to the trace
                    map_traces.push({
                        type: 'scattergeo',
                        mode: 'markers',
                        lat: [latitude_finish],
                        lon: [longitude_finish],
                        marker: {
                            size: 12,
                            color: 'red',
                            symbol: 'circle',
                        },
                        name: 'Finish',
                        text: '🏁 Finish',
                        hoverinfo: 'text',
                    });

                    // Add start point/line to the trace
                    map_traces.push({
                        type: 'scattergeo',
                        mode: 'markers',
                        lat: [latitude_start],
                        lon: [longitude_start],
                        marker: {
                            size: 12,
                            color: 'green',
                            symbol: 'star',
                        },
                        name: 'Start',
                        text: '🟢 Start',
                        hoverinfo: 'text',
                    });

                    // Define the layout for the map, with center, zoom, and bounding box
                    var map_layout = {
                        autosize: true,
                        showlegend: false,
                        title: 'Information by Sectors',
                        geo: {
                            center: {
                                lat: center_lat,
                                lon: center_lon,
                            },
                            projection: {
                                type: 'mercator',
                            },
                            // Set zoom level based on bounding box dimensions
                            lataxis: {range: [expanded_bbox[1], expanded_bbox[3]]},
                            lonaxis: {range: [expanded_bbox[0], expanded_bbox[2]]},
                        },
                    };

                    // Render the map with Plotly
                    Plotly.newPlot('mapSectors', map_traces, map_layout);
                });
            </script>
        </div>
    </div>
</div>
