<div id="TrackMap" class="row my-2" style="display: none;">
    <div class="col-md-12">
        <div class="row my-2">
            <h3
                data-en="{{ yaml_info['General']['Vocab']['Track']['Label']['en'] }} {{ yaml_info['General']['Vocab']['Map']['Label']['en'] }}s"
                data-jp="{{ yaml_info['General']['Vocab']['Track']['Label']['jp'] }}{{ yaml_info['General']['Vocab']['Map']['Label']['jp'] }}"
            >
                {{ yaml_info['General']['Vocab']['Track']['Label']['en'] }} {{ yaml_info['General']['Vocab']['Map']['Label']['en'] }}s
            </h3>
            <div class="col-lg-12 col-12">
                <a
                    id="buttonGoogleMaps" type="button" class="btn btn-success"
                    href="https://www.google.com" target="_blank"
                    data-en="{{ yaml_info['General']['Vocab']['Google']['Label']['en'] }} {{ yaml_info['General']['Vocab']['Map']['Label']['en'] }}s"
                    data-jp="{{ yaml_info['General']['Vocab']['Google']['Label']['jp'] }}{{ yaml_info['General']['Vocab']['Map']['Label']['jp'] }}へ"
                >
                    {{ yaml_info['General']['Vocab']['Google']['Label']['en'] }} {{ yaml_info['General']['Vocab']['Map']['Label']['en'] }}s
                </a>
            </div>
            <div class="col-lg-6 col-12">
                <div id="mapAltLatLon"></div>
            </div>
            <div class="col-lg-6 col-12">
                <div id="mapRideHeight"></div>
            </div>
            <div class="col-lg-6 col-12">
                <div id="mapShockDeflection"></div>
            </div>
            <div class="col-lg-6 col-12">
                <div id="mapShockVelocity"></div>
            </div>
            <div class="col-lg-6 col-12">
                <div id="mapTirePressure"></div>
            </div>
            <div class="col-lg-6 col-12">
                <div id="mapTireTemperature"></div>
            </div>
            <div class="col-lg-6 col-12">
                <div id="mapSectors"></div>
            </div>
            <div class="col-lg-6 col-12">
                <div id="mapSpeed"></div>
            </div>

            <script>
                $(document).ready(function() {
                    /* Set up defaults for maps */
                    const m_to_mm = 1000;
                    const kPa_to_psi = 0.14503773773;
                    const normalize_reduced = 0.5;
                    const ms_to_kph = 3.6;
                    const ms_to_mph = 2.237;

                    const speeds = {{ charts_info[laps_report_info['TopLaps'][0]]['Speed'] | tojson }};

                    const longitudes = {{ reference_lap_info['Longitude'] | tojson }};
                    const latitudes = {{ reference_lap_info['Latitude'] | tojson }};
                    const altitudes = {{ reference_lap_info['Altitude'] | tojson }};

                    const altitudes_min = Math.min(...altitudes);
                    const altitudes_max = Math.max(...altitudes);
                    const altitudes_cleaned = altitudes.map(alt => alt.toFixed(3));

                    // Scaled down to (0-1 * normalize_reduced)
                    const altitudes_normalized = altitudes.map(alt => (alt - altitudes_min) / (altitudes_max - altitudes_min) * normalize_reduced);

                    // m/s to kph and mph
                    const speeds_kph = speeds.map(speed => (speed * ms_to_kph).toFixed(2));
                    const speeds_mph = speeds.map(speed => (speed * ms_to_mph).toFixed(2));

                    /*
                        =========================
                        Altitude
                        =========================
                    */
                    const throttle = {{ charts_info[laps_report_info['TopLaps'][0]]['Throttle'] | tojson }};
                    const brake = {{ charts_info[laps_report_info['TopLaps'][0]]['Brake'] | tojson }};

                    const throttle_cleaned = throttle.map(throttle => (throttle * 100).toFixed(2));
                    const brake_cleaned = brake.map(brake => (brake * 100).toFixed(2));

                    const mapAltLatLon_customdata = altitudes.map((_, i) => [
                        altitudes_cleaned[i],
                        throttle_cleaned[i],
                        brake_cleaned[i],
                    ]);

                    var mapAltLatLon_traces = []

                    mapAltLatLon_traces.push({
                        x: longitudes,
                        y: latitudes,
                        z: altitudes_normalized,
                        type: 'scatter3d',
                        mode: 'markers',
                        marker: {
                            size: 4,
                            color: altitudes,
                            colorscale: 'Viridis',
                            colorbar: {
                                title: '(m)',
                            }
                        },
                        customdata: mapAltLatLon_customdata,
                        hovertemplate:
                            '⛰️ %{customdata[0]} m<br>' +
                            '🟢 %{customdata[1]} %<br>' +
                            '🔴 %{customdata[2]} %<br>' +
                            '<extra></extra>',
                    });

                    mapAltLatLon_layout = {
                        title: 'Altitude',
                        scene: {
                            xaxis: {
                                title: '',
                                showticklabels: false,
                            },
                            yaxis: {
                                title: '',
                                showticklabels: false,
                            },
                            zaxis: {
                                title: 'Altitude',
                                showticklabels: false,
                                range: [-5, 5],
                            },
                            camera: {
                                eye: {
                                    x: 1,
                                    y: 1,
                                    z: 1,
                                },
                            },
                        },
                    };

                    Plotly.newPlot(
                        'mapAltLatLon',
                        mapAltLatLon_traces,
                        mapAltLatLon_layout,
                    );

                    /*
                        =========================
                        Ride Height
                        =========================
                    */
                    const lfrideheight = {{ reference_lap_info['LFrideHeight'] | tojson }};
                    const rfrideheight = {{ reference_lap_info['RFrideHeight'] | tojson }};
                    const lrrideheight = {{ reference_lap_info['LRrideHeight'] | tojson }};
                    const rrrideheight = {{ reference_lap_info['RRrideHeight'] | tojson }};

                    // Convert m to mm
                    const lfrideheight_cleaned = lfrideheight.map(lf => (lf * m_to_mm).toFixed(3));
                    const rfrideheight_cleaned = rfrideheight.map(rf => (rf * m_to_mm).toFixed(3));
                    const lrrideheight_cleaned = lrrideheight.map(lr => (lr * m_to_mm).toFixed(3));
                    const rrrideheight_cleaned = rrrideheight.map(rr => (rr * m_to_mm).toFixed(3));

                    let rideheight_avg = lfrideheight.map((value, index) => {
                        return (value + rfrideheight[index] + lrrideheight[index] + rrrideheight[index]) * m_to_mm / 4;
                    });

                    const mapRideHeight_customdata = altitudes.map((_, i) => [
                        altitudes_cleaned[i],
                        lfrideheight_cleaned[i],
                        rfrideheight_cleaned[i],
                        lrrideheight_cleaned[i],
                        rrrideheight_cleaned[i],
                    ]);

                    var mapRideHeight_traces = []

                    mapRideHeight_traces.push({
                        x: longitudes,
                        y: latitudes,
                        z: altitudes_normalized,
                        type: 'scatter3d',
                        mode: 'markers',
                        marker: {
                            size: 4,
                            color: rideheight_avg,
                            colorscale: [
                                [0, '#ff0000'],     // for low
                                [1, '#ffff00'],     // for high
                            ],
                            colorbar: {
                                title: '(mm, Avg)',
                            }
                        },
                        customdata: mapRideHeight_customdata,
                        hovertemplate:
                            '⛰️ %{customdata[0]} m<br>' +
                            '%{customdata[1]} mm' +
                            '⬅️⬆️➡️' +
                            '%{customdata[2]} mm' +
                            '<br>' +
                            '%{customdata[3]} mm' +
                            '⬅️⬇️➡️' +
                            '%{customdata[4]} mm' +
                            '<extra></extra>',
                    });

                    mapRideHeight_layout = {
                        title: 'Ride Height',
                        scene: {
                            xaxis: {
                                title: '',
                                showticklabels: false,
                            },
                            yaxis: {
                                title: '',
                                showticklabels: false,
                            },
                            zaxis: {
                                title: 'Ride Height',
                                showticklabels: false,
                                range: [-5, 5],
                            },
                            camera: {
                                eye: {
                                    x: 1,
                                    y: 1,
                                    z: 1,
                                },
                            },
                        },
                    };

                    Plotly.newPlot(
                        'mapRideHeight',
                        mapRideHeight_traces,
                        mapRideHeight_layout,
                    );

                    /*
                        =========================
                        Shock Deflection
                        =========================
                    */
                    const lfshockdefl = {{ reference_lap_info['LFshockDefl'] | tojson }};
                    const rfshockdefl = {{ reference_lap_info['RFshockDefl'] | tojson }};
                    const lrshockdefl = {{ reference_lap_info['LRshockDefl'] | tojson }};
                    const rrshockdefl = {{ reference_lap_info['RRshockDefl'] | tojson }};

                    // Convert m to mm
                    const lfshockdefl_cleaned = lfshockdefl.map(lf => (lf * m_to_mm).toFixed(3));
                    const rfshockdefl_cleaned = rfshockdefl.map(rf => (rf * m_to_mm).toFixed(3));
                    const lrshockdefl_cleaned = lrshockdefl.map(lr => (lr * m_to_mm).toFixed(3));
                    const rrshockdefl_cleaned = rrshockdefl.map(rr => (rr * m_to_mm).toFixed(3));

                    let shockdefl_avg = lfshockdefl.map((value, index) => {
                        return (value + rfshockdefl[index] + lrshockdefl[index] + rrshockdefl[index]) * m_to_mm / 4;
                    });

                    const mapShockDeflection_customdata = altitudes.map((_, i) => [
                        altitudes_cleaned[i],
                        lfshockdefl_cleaned[i],
                        rfshockdefl_cleaned[i],
                        lrshockdefl_cleaned[i],
                        rrshockdefl_cleaned[i],
                    ]);

                    var mapShockDeflection_traces = []

                    mapShockDeflection_traces.push({
                        x: longitudes,
                        y: latitudes,
                        z: altitudes_normalized,
                        type: 'scatter3d',
                        mode: 'markers',
                        marker: {
                            size: 4,
                            color: shockdefl_avg,
                            colorscale: 'Plasma',
                            colorbar: {
                                title: '(mm, Avg)',
                            }
                        },
                        customdata: mapShockDeflection_customdata,
                        hovertemplate:
                            '⛰️ %{customdata[0]} m<br>' +
                            '%{customdata[1]} mm' +
                            '⬅️⬆️➡️' +
                            '%{customdata[2]} mm' +
                            '<br>' +
                            '%{customdata[3]} mm' +
                            '⬅️⬇️➡️' +
                            '%{customdata[4]} mm' +
                            '<extra></extra>',
                    });

                    mapShockDeflection_layout = {
                        title: 'Shock Deflection',
                        scene: {
                            xaxis: {
                                title: '',
                                showticklabels: false,
                            },
                            yaxis: {
                                title: '',
                                showticklabels: false,
                            },
                            zaxis: {
                                title: 'Shock Deflection',
                                showticklabels: false,
                                range: [-5, 5],
                            },
                            camera: {
                                eye: {
                                    x: 1,
                                    y: 1,
                                    z: 1,
                                },
                            },
                        },
                    };

                    Plotly.newPlot(
                        'mapShockDeflection',
                        mapShockDeflection_traces,
                        mapShockDeflection_layout,
                    );

                    /*
                        =========================
                        Shock Velocity
                        =========================
                    */
                    const lfshockvel = {{ reference_lap_info['LFshockVel'] | tojson }};
                    const rfshockvel = {{ reference_lap_info['RFshockVel'] | tojson }};
                    const lrshockvel = {{ reference_lap_info['LRshockVel'] | tojson }};
                    const rrshockvel = {{ reference_lap_info['RRshockVel'] | tojson }};

                    // Convert m/s to mm/s
                    const lfshockvel_cleaned = lfshockvel.map(lf => (lf * m_to_mm).toFixed(3));
                    const rfshockvel_cleaned = rfshockvel.map(rf => (rf * m_to_mm).toFixed(3));
                    const lrshockvel_cleaned = lrshockvel.map(lr => (lr * m_to_mm).toFixed(3));
                    const rrshockvel_cleaned = rrshockvel.map(rr => (rr * m_to_mm).toFixed(3));

                    let shockvel_avg = lfshockvel.map((value, index) => {
                        return (value + rfshockvel[index] + lrshockvel[index] + rrshockvel[index]) * m_to_mm / 4;
                    });

                    const mapShockVelocity_customdata = altitudes.map((_, i) => [
                        altitudes_cleaned[i],
                        formatWithPlus(lfshockvel_cleaned[i]),
                        formatWithPlus(rfshockvel_cleaned[i]),
                        formatWithPlus(lrshockvel_cleaned[i]),
                        formatWithPlus(rrshockvel_cleaned[i]),
                    ]);

                    var mapShockVelocity_traces = []

                    mapShockVelocity_traces.push({
                        x: longitudes,
                        y: latitudes,
                        z: altitudes_normalized,
                        type: 'scatter3d',
                        mode: 'markers',
                        marker: {
                            size: 4,
                            color: shockvel_avg,
                            colorscale: 'Plasma',
                            colorbar: {
                                title: '(mm/s, Avg)',
                            }
                        },
                        customdata: mapShockVelocity_customdata,
                        hovertemplate:
                            '⛰️ %{customdata[0]} m<br>' +
                            '%{customdata[1]} mm/s' +
                            '⬅️⬆️➡️' +
                            '%{customdata[2]} mm/s' +
                            '<br>' +
                            '%{customdata[3]} mm/s' +
                            '⬅️⬇️➡️' +
                            '%{customdata[4]} mm/s' +
                            '<extra></extra>',
                    });

                    mapShockVelocity_layout = {
                        title: 'Shock Velocity',
                        scene: {
                            xaxis: {
                                title: '',
                                showticklabels: false,
                            },
                            yaxis: {
                                title: '',
                                showticklabels: false,
                            },
                            zaxis: {
                                title: 'Shock Velocity',
                                showticklabels: false,
                                range: [-5, 5],
                            },
                            camera: {
                                eye: {
                                    x: 1,
                                    y: 1,
                                    z: 1,
                                },
                            },
                        },
                    };

                    Plotly.newPlot(
                        'mapShockVelocity',
                        mapShockVelocity_traces,
                        mapShockVelocity_layout,
                    );

                    /*
                        =========================
                        Tire Pressure
                        =========================
                    */
                    const lfpressure = {{ reference_lap_info['LFpressure'] | tojson }};
                    const rfpressure = {{ reference_lap_info['RFpressure'] | tojson }};
                    const lrpressure = {{ reference_lap_info['LRpressure'] | tojson }};
                    const rrpressure = {{ reference_lap_info['RRpressure'] | tojson }};

                    // Convert kPA to psi
                    const lfpressure_cleaned = lfpressure.map(lf => (lf * kPa_to_psi).toFixed(2));
                    const rfpressure_cleaned = rfpressure.map(rf => (rf * kPa_to_psi).toFixed(2));
                    const lrpressure_cleaned = lrpressure.map(lr => (lr * kPa_to_psi).toFixed(2));
                    const rrpressure_cleaned = rrpressure.map(rr => (rr * kPa_to_psi).toFixed(2));

                    let pressure_avg = lfpressure.map((value, index) => {
                        return (value + rfpressure[index] + lrpressure[index] + rrpressure[index]) * kPa_to_psi / 4;
                    });

                    const mapTirePressure_customdata = altitudes.map((_, i) => [
                        altitudes_cleaned[i],
                        lfpressure_cleaned[i],
                        rfpressure_cleaned[i],
                        lrpressure_cleaned[i],
                        rrpressure_cleaned[i],
                    ]);

                    // Cold pressure set in garage
                    // therefore value does not change
                    const lfcoldPressure = {{ reference_lap_info['LFcoldPressure'][0] }};
                    const rfcoldPressure = {{ reference_lap_info['RFcoldPressure'][0] }};
                    const lrcoldPressure = {{ reference_lap_info['LRcoldPressure'][0] }};
                    const rrcoldPressure = {{ reference_lap_info['RRcoldPressure'][0] }};

                    const lfcoldPressure_cleaned = (lfcoldPressure * kPa_to_psi).toFixed(2)
                    const rfcoldPressure_cleaned = (rfcoldPressure * kPa_to_psi).toFixed(2)
                    const lrcoldPressure_cleaned = (lrcoldPressure * kPa_to_psi).toFixed(2)
                    const rrcoldPressure_cleaned = (rrcoldPressure * kPa_to_psi).toFixed(2)

                    var mapTirePressure_traces = []

                    mapTirePressure_traces.push({
                        x: longitudes,
                        y: latitudes,
                        z: altitudes_normalized,
                        type: 'scatter3d',
                        mode: 'markers',
                        marker: {
                            size: 4,
                            color: pressure_avg,
                            colorscale: 'Turbo',
                            colorbar: {
                                title: '(psi, Avg)',
                            }
                        },
                        customdata: mapTirePressure_customdata,
                        hovertemplate:
                            '⛰️ %{customdata[0]} m<br>' +
                            '%{customdata[1]} psi' +
                            '⬅️⬆️➡️' +
                            '%{customdata[2]} psi' +
                            '<br>' +
                            '%{customdata[3]} psi' +
                            '⬅️⬇️➡️' +
                            '%{customdata[4]} psi' +
                            '<extra></extra>',
                    });

                    mapTirePressure_layout = {
                        title:
                            'Tire Pressure<br>' +
                            '🧊' + lfcoldPressure_cleaned +
                            '⬅️⬆️➡️' +
                            rfcoldPressure_cleaned + '🧊' +
                            '<br>' +
                            '🧊' + lrcoldPressure_cleaned +
                            '⬅️⬇️➡️' +
                            rrcoldPressure_cleaned + '🧊',
                        scene: {
                            xaxis: {
                                title: '',
                                showticklabels: false,
                            },
                            yaxis: {
                                title: '',
                                showticklabels: false,
                            },
                            zaxis: {
                                title: 'Tire Pressure',
                                showticklabels: false,
                                range: [-5, 5],
                            },
                            camera: {
                                eye: {
                                    x: 1,
                                    y: 1,
                                    z: 1,
                                },
                            },
                        },
                    };

                    Plotly.newPlot(
                        'mapTirePressure',
                        mapTirePressure_traces,
                        mapTirePressure_layout,
                    );

                    /*
                        =========================
                        Tire Temperature
                        =========================
                    */
                    const lftempl = {{ reference_lap_info['LFtempL'] | tojson }};
                    const rftempl = {{ reference_lap_info['RFtempL'] | tojson }};
                    const lrtempl = {{ reference_lap_info['LRtempL'] | tojson }};
                    const rrtempl = {{ reference_lap_info['RRtempL'] | tojson }};

                    const lftempm = {{ reference_lap_info['LFtempM'] | tojson }};
                    const rftempm = {{ reference_lap_info['RFtempM'] | tojson }};
                    const lrtempm = {{ reference_lap_info['LRtempM'] | tojson }};
                    const rrtempm = {{ reference_lap_info['RRtempM'] | tojson }};

                    const lftempr = {{ reference_lap_info['LFtempR'] | tojson }};
                    const rftempr = {{ reference_lap_info['RFtempR'] | tojson }};
                    const lrtempr = {{ reference_lap_info['LRtempR'] | tojson }};
                    const rrtempr = {{ reference_lap_info['RRtempR'] | tojson }};

                    const lftempl_cleaned = lftempl.map(lf => lf.toFixed(2));
                    const rftempl_cleaned = rftempl.map(rf => rf.toFixed(2));
                    const lrtempl_cleaned = lrtempl.map(lr => lr.toFixed(2));
                    const rrtempl_cleaned = rrtempl.map(rr => rr.toFixed(2));

                    const lftempm_cleaned = lftempm.map(lf => lf.toFixed(2));
                    const rftempm_cleaned = rftempm.map(rf => rf.toFixed(2));
                    const lrtempm_cleaned = lrtempm.map(lr => lr.toFixed(2));
                    const rrtempm_cleaned = rrtempm.map(rr => rr.toFixed(2));

                    const lftempr_cleaned = lftempr.map(lf => lf.toFixed(2));
                    const rftempr_cleaned = rftempr.map(rf => rf.toFixed(2));
                    const lrtempr_cleaned = lrtempr.map(lr => lr.toFixed(2));
                    const rrtempr_cleaned = rrtempr.map(rr => rr.toFixed(2));


                    let temperature_avg = lftempm.map((value, index) => {
                        return (value + rftempm[index] + lrtempm[index] + rrtempm[index]) / 4;
                    });

                    const mapTireTemperature_customdata = altitudes.map((_, i) => [
                        altitudes_cleaned[i],

                        lftempl_cleaned[i],
                        lftempm_cleaned[i],
                        lftempr_cleaned[i],

                        rftempl_cleaned[i],
                        rftempm_cleaned[i],
                        rftempr_cleaned[i],

                        lrtempl_cleaned[i],
                        lrtempm_cleaned[i],
                        lrtempr_cleaned[i],

                        rrtempl_cleaned[i],
                        rrtempm_cleaned[i],
                        rrtempr_cleaned[i],
                    ]);

                    var mapTireTemperature_traces = []

                    mapTireTemperature_traces.push({
                        x: longitudes,
                        y: latitudes,
                        z: altitudes_normalized,
                        type: 'scatter3d',
                        mode: 'markers',
                        marker: {
                            size: 4,
                            color: temperature_avg,
                            colorscale: 'Turbo',
                            colorbar: {
                                title: '(C, Avg)',
                            }
                        },
                        customdata: mapTireTemperature_customdata,
                        hovertemplate:
                            '⛰️ %{customdata[0]} m<br>' +
                            '[%{customdata[1]}][%{customdata[2]}][%{customdata[3]}]' +
                            '⬅️⬆️➡️' +
                            '[%{customdata[4]}][%{customdata[5]}][%{customdata[6]}]' +
                            '<br>' +
                            '[%{customdata[7]}][%{customdata[8]}][%{customdata[9]}]' +
                            '⬅️⬇️➡️' +
                            '[%{customdata[10]}][%{customdata[11]}][%{customdata[12]}]' +
                            '<extra></extra>',
                    });

                    mapTireTemperature_layout = {
                        title:
                            'Tire Temperature',
                        scene: {
                            xaxis: {
                                title: '',
                                showticklabels: false,
                            },
                            yaxis: {
                                title: '',
                                showticklabels: false,
                            },
                            zaxis: {
                                title: 'Tire Temperature',
                                showticklabels: false,
                                range: [-5, 5],
                            },
                            camera: {
                                eye: {
                                    x: 1,
                                    y: 1,
                                    z: 1,
                                },
                            },
                        },
                    };

                    Plotly.newPlot(
                        'mapTireTemperature',
                        mapTireTemperature_traces,
                        mapTireTemperature_layout,
                    );

                    /*
                        =========================
                        Speed
                        =========================
                    */
                    const mapSpeed_customdata = altitudes.map((_, i) => [
                        altitudes_cleaned[i],

                        speeds_kph[i],
                        speeds_mph[i],

                        throttle_cleaned[i],
                        brake_cleaned[i],

                        lfrideheight_cleaned[i],
                        rfrideheight_cleaned[i],
                        lrrideheight_cleaned[i],
                        rrrideheight_cleaned[i],

                        lfshockdefl_cleaned[i],
                        rfshockdefl_cleaned[i],
                        lrshockdefl_cleaned[i],
                        rrshockdefl_cleaned[i],

                        formatWithPlus(lfshockvel_cleaned[i]),
                        formatWithPlus(rfshockvel_cleaned[i]),
                        formatWithPlus(lrshockvel_cleaned[i]),
                        formatWithPlus(rrshockvel_cleaned[i]),

                        lfpressure_cleaned[i],
                        rfpressure_cleaned[i],
                        lrpressure_cleaned[i],
                        rrpressure_cleaned[i],

                        lftempl_cleaned[i],
                        lftempm_cleaned[i],
                        lftempr_cleaned[i],

                        rftempl_cleaned[i],
                        rftempm_cleaned[i],
                        rftempr_cleaned[i],

                        lrtempl_cleaned[i],
                        lrtempm_cleaned[i],
                        lrtempr_cleaned[i],

                        rrtempl_cleaned[i],
                        rrtempm_cleaned[i],
                        rrtempr_cleaned[i],
                    ]);

                    var mapSpeed_traces = []

                    mapSpeed_traces.push({
                        x: longitudes,
                        y: latitudes,
                        z: altitudes_normalized,
                        type: 'scatter3d',
                        mode: 'markers',
                        marker: {
                            size: 4,
                            color: speeds_kph,
                            colorscale: [
                                [0, '#ffff00'],     // for low
                                [0.5, '#00ff00'],   // for mid
                                [1, '#800080'],     // for high
                            ],
                            colorbar: {
                                title: '(kph)',
                            }
                        },
                        customdata: mapSpeed_customdata,
                        hovertemplate:
                            '⛰️ %{customdata[0]} m<br>' +
                            '🏎️ %{customdata[1]} kph | %{customdata[2]} mph<br>' +
                            '🟢 %{customdata[3]} %<br>' +
                            '🔴 %{customdata[4]} %' +
                            '<br><br>' +
                            '💻 Ride Height<br>' +
                            '%{customdata[5]} mm' +
                            '⬅️⬆️➡️' +
                            '%{customdata[6]} mm' +
                            '<br>' +
                            '%{customdata[7]} mm' +
                            '⬅️⬇️➡️' +
                            '%{customdata[8]} mm' +
                            '<br><br>' +
                            '💻 Shock Deflection<br>' +
                            '%{customdata[9]} mm' +
                            '⬅️⬆️➡️' +
                            '%{customdata[10]} mm' +
                            '<br>' +
                            '%{customdata[11]} mm' +
                            '⬅️⬇️➡️' +
                            '%{customdata[12]} mm' +
                            '<br><br>' +
                            '💻 Shock Velocity<br>' +
                            '%{customdata[13]} mm/s' +
                            '⬅️⬆️➡️' +
                            '%{customdata[14]} mm/s' +
                            '<br>' +
                            '%{customdata[15]} mm/s' +
                            '⬅️⬇️➡️' +
                            '%{customdata[16]} mm/s' +
                            '<br><br>' +
                            '💻 Tire Pressure<br>' +
                            '%{customdata[17]} psi' +
                            '⬅️⬆️➡️' +
                            '%{customdata[18]} psi' +
                            '<br>' +
                            '%{customdata[19]} psi' +
                            '⬅️⬇️➡️' +
                            '%{customdata[20]} psi' +
                            '<br><br>' +
                            '💻 Tire Temperature<br>' +
                            '[%{customdata[21]}][%{customdata[22]}][%{customdata[23]}]' +
                            '⬅️⬆️➡️' +
                            '[%{customdata[24]}][%{customdata[25]}][%{customdata[26]}]' +
                            '<br>' +
                            '[%{customdata[27]}][%{customdata[28]}][%{customdata[29]}]' +
                            '⬅️⬇️➡️' +
                            '[%{customdata[30]}][%{customdata[31]}][%{customdata[32]}]' +

                            '<extra></extra>',
                    });

                    mapSpeed_layout = {
                        title: 'Speed',
                        scene: {
                            xaxis: {
                                title: '',
                                showticklabels: false,
                            },
                            yaxis: {
                                title: '',
                                showticklabels: false,
                            },
                            zaxis: {
                                title: 'Speed',
                                showticklabels: false,
                                range: [-5, 5],
                            },
                            camera: {
                                eye: {
                                    x: 1,
                                    y: 1,
                                    z: 1,
                                },
                            },
                        },
                    };

                    Plotly.newPlot(
                        'mapSpeed',
                        mapSpeed_traces,
                        mapSpeed_layout,
                    );

                    /*
                        =========================
                        Sectors
                        =========================
                    */
                    const vehicle = "{{ static_info['DriverInfo']['Drivers'][0]['CarScreenName'] }}";

                    const latitude_start = latitudes[0];
                    const longitude_start = longitudes[0]

                    const latitude_finish = latitudes[latitudes.length - 1];
                    const longitude_finish = longitudes[longitudes.length - 1];

                    // Since both GPS Lat/Lon are data from reference lap aka Best Lap
                    // sensor from best lap will need to be used to match
                    const laptimes = {{ charts_info[laps_report_info['TopLaps'][0]]['LapTime'] | tojson }};
                    const rpms = {{ charts_info[laps_report_info['TopLaps'][0]]['RPM'] | tojson }};
                    const gears = {{ charts_info[laps_report_info['TopLaps'][0]]['Gear'] | tojson }};

                    // Convert and clean up
                    const laptimes_cleaned = laptimes.map(lapTimeFormat);
                    const rpms_cleaned = rpms.map(rpm => Math.round(rpm));
                    const gears_cleaned = gears.map(gear => {
                        if (gear === 0) return 'N';
                        if (gear === -1) return 'R';
                        return gear.toString();
                    });

                    // Combine latitudes and longitudes into a GeoJSON format for Turf.js
                    const mapSectors_points = latitudes.map((lat, index) => ({
                        type: 'Feature',
                        geometry: {
                            type: 'Point',
                            coordinates: [longitudes[index], lat]
                        },
                        properties: {
                            // Attach data to each point
                            speed_kph: speeds_kph[index],
                            speed_mph: speeds_mph[index],
                            rpm: rpms_cleaned[index],
                            gear: gears_cleaned[index],
                            laptime: laptimes_cleaned[index],
                        },
                    }));

                    const mapSectors_geoJsonPoints = {
                        type: 'FeatureCollection',
                        features: mapSectors_points
                    };

                    // Use Turf.js to calculate the bounding box of the points
                    // [west, south, east, north]
                    const bbox = turf.bbox(mapSectors_geoJsonPoints);

                    // Calculate the center (centroid) of the points
                    // returns { type: 'Feature', geometry: { type: 'Point', coordinates: [lon, lat] } }
                    const center = turf.center(mapSectors_geoJsonPoints);

                    // Extract the center coordinates
                    const center_lat = center.geometry.coordinates[1];
                    const center_lon = center.geometry.coordinates[0];

                    // Set padding
                    const padding = 0.25; // 1.00 = 100 percent

                    // Expand the bounding box by the padding percentage
                    const lat_diff = bbox[3] - bbox[1];
                    const lon_diff = bbox[2] - bbox[0];

                    const expanded_bbox = [
                        bbox[0] - lon_diff * padding, // West
                        bbox[1] - lat_diff * padding, // South
                        bbox[2] + lon_diff * padding, // East
                        bbox[3] + lat_diff * padding  // North
                    ];

                    // Define the data trace for the map
                    var mapSectors_traces = [];

                    // Set marker for sectors
                    {% for idx in range(sectors_info['Sectors']['Percentages'] | length) %}
                        {% if idx == (sectors_info['Sectors']['Percentages'] | length) - 1 %}
                            var sector_start = {{ sectors_info['Sectors']['SectorPoints'][idx] }};
                            var sector_end = -1;
                        {% else %}
                            var sector_start = {{ sectors_info['Sectors']['SectorPoints'][idx] }};
                            var sector_end = {{ sectors_info['Sectors']['SectorPoints'][idx + 1] }};
                        {% endif %}

                        var sector_lat = latitudes.slice(sector_start, sector_end);
                        var sector_lon = longitudes.slice(sector_start, sector_end);
                        var sector_speed_kph = speeds_kph.slice(sector_start, sector_end);

                        var sector_custom_data = mapSectors_points.slice(sector_start, sector_end).map((point) => [
                            point.properties.laptime,
                            point.properties.speed_mph,
                            point.properties.rpm,
                            point.properties.gear,
                        ]);

                        mapSectors_traces.push({
                            type: 'scattergeo',
                            mode: 'lines',
                            name: vehicle,
                            lat: latitudes.slice(sector_start, sector_end),
                            lon: longitudes.slice(sector_start, sector_end),
                            text: speeds_kph.slice(sector_start, sector_end),
                            customdata: sector_custom_data,
                            hovertemplate:
                                '⏱️ %{customdata[0]}<br>' +
                                '🏎️ %{text} kph | %{customdata[1]} mph<br>' +
                                '🌪️ %{customdata[2]} revs/min<br>' +
                                '⚙️ %{customdata[3]}<br>',
                            line: {
                                color: '{{ sectors_info['Sectors']['SectorColors'][idx] }}',
                                width: 5,
                            },
                        });
                    {% endfor %}

                    // Start from 1 since sector 0 marker is the same as start
                    {% for idx in range(1,sectors_info['Sectors']['Percentages'] | length) %}
                        mapSectors_traces.push({
                            type: 'scattergeo',
                            mode: 'markers',
                            lat: [{{ sectors_info['Sectors']['Latitude'][idx] }}],
                            lon: [{{ sectors_info['Sectors']['Longitude'][idx] }}],
                            marker: {
                                size: 8,
                                color: 'purple',
                                symbol: 'diamond',
                            },
                            name: 'Sector {{idx}}',
                            text: 'Sector {{idx}}',
                            hoverinfo: 'text',
                        });
                    {% endfor %}

                    // Add finish point/line to the trace
                    mapSectors_traces.push({
                        type: 'scattergeo',
                        mode: 'markers',
                        lat: [latitude_finish],
                        lon: [longitude_finish],
                        marker: {
                            size: 12,
                            color: 'red',
                            symbol: 'circle',
                        },
                        name: 'Finish',
                        text: '🏁 Finish',
                        hoverinfo: 'text',
                    });

                    // Add start point/line to the trace
                    mapSectors_traces.push({
                        type: 'scattergeo',
                        mode: 'markers',
                        lat: [latitude_start],
                        lon: [longitude_start],
                        marker: {
                            size: 12,
                            color: 'green',
                            symbol: 'star',
                        },
                        name: 'Start',
                        text: '🟢 Start',
                        hoverinfo: 'text',
                    });

                    // Define the layout for the map, with center, zoom, and bounding box
                    var mapSectors_layout = {
                        autosize: true,
                        showlegend: false,
                        title: 'Sectors',
                        geo: {
                            center: {
                                lat: center_lat,
                                lon: center_lon,
                            },
                            projection: {
                                type: 'mercator',
                            },
                            // Set zoom level based on bounding box dimensions
                            lataxis: {range: [expanded_bbox[1], expanded_bbox[3]]},
                            lonaxis: {range: [expanded_bbox[0], expanded_bbox[2]]},
                        },
                    };

                    // Render the map with Plotly
                    Plotly.newPlot(
                        'mapSectors',
                        mapSectors_traces,
                        mapSectors_layout
                    );

                    /*
                        =========================
                        Button: Google Maps url
                        =========================
                    */
                    const urlGoogleMaps = "https://www.google.com/maps/search/?api=1&query=" + latitude_start + "," + longitude_start;

                    document.getElementById('buttonGoogleMaps').href = urlGoogleMaps;
                });
            </script>
        </div>
    </div>
</div>

