<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-md-12 text-white">
                <span
                    class="h3 pe-2 align-middle"
                    data-en="{{ yaml_info['General']['Title']['Label']['en'] }}"
                    data-jp="{{ yaml_info['General']['Title']['Label']['jp'] }}"
                >
                    {{ yaml_info['General']['Title']['Label']['en'] }}
                </span>

                {% if session_info is defined or chart_info is defined %}
                    <span class="h5 pe-2 align-middle">
                        [{{ session_info['WeekendInfo']['EventType'] }}]
                        [{{ session_info['DriverInfo']['Drivers'][0]['CarScreenName'] }}]
                        [{{ session_info['WeekendInfo']['TrackDisplayName'] }}]
                    </span>
                {% endif %}

                {% if chart_info is defined %}
                    <button class="btn btn-outline-info" onclick="showTelemetryData()">
                        <span
                            data-en="{{ yaml_info['General']['Button']['Telemetry']['Label']['en'] }}"
                            data-jp="{{ yaml_info['General']['Button']['Telemetry']['Label']['jp'] }}"
                        >
                            {{ yaml_info['General']['Button']['Telemetry']['Label']['en'] }}
                        </span>
                    </button>
                {% endif %}

                {% if session_info is defined %}
                    <button class="btn btn-outline-info" onclick="showSessionData()">
                        <span
                            data-en="{{ yaml_info['General']['Button']['Session']['Label']['en'] }}"
                            data-jp="{{ yaml_info['General']['Button']['Session']['Label']['jp'] }}"
                        >
                            {{ yaml_info['General']['Button']['Session']['Label']['en'] }}
                        </span>
                    </button>
                {% endif %}

                {% for key in yaml_info['General']['Language'] %}
                    <button class="btn btn-outline-light" onclick="switchLanguage('{{ key }}')">
                        <span class="{{ yaml_info['General']['Language'][key]['Icon'] }}"></span>
                    </button>
                {% endfor %}

                {% if session_info is defined or chart_info is defined %}
                    <a
                        class="btn btn-primary"
                        href="{{ url_for('upload_file') }}"
                        data-en="{{ yaml_info['General']['Button']['Upload']['Label']['en'] }}"
                        data-jp="{{ yaml_info['General']['Button']['Upload']['Label']['jp'] }}"
                    >
                        {{ yaml_info['General']['Button']['Upload']['Label']['en'] }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
