<div id="sensor_data" class="container-fluid d-none">
    <div class="row my-2">
        <div class="col-md-12 d-flex flex-wrap gap-1">
            {% for key in yaml_info['Telemetry'] %}
                <button class="btn btn-info" onclick="showSensorSection('{{ key }}')">
                    <span
                        data-en="{{ yaml_info['Telemetry'][key]['Label']['en'] }}"
                        data-jp="{{ yaml_info['Telemetry'][key]['Label']['jp'] }}"
                    >
                        {{ yaml_info['Telemetry'][key]['Label']['en'] }}
                    </span>
                </button>
            {% endfor %}
            <button class="btn btn-info" onclick="showSensorSection('Undocumented')">
                <span
                    data-en="{{ yaml_info['General']['Vocab']['Undocumented']['Label']['en'] }}"
                    data-jp="{{ yaml_info['General']['Vocab']['Undocumented']['Label']['jp'] }}"
                >
                    {{ yaml_info['General']['Vocab']['Undocumented']['Label']['en'] }}
                </span>
            </button>
    </div>
    </div>

    {% for key in yaml_info['Telemetry'] %}
        <div id="{{ key }}" class="row my-2 d-none">
            <div class="col-md-12">
                <div class="row my-2">
                    <h3 scope="col"
                        data-en="{{ yaml_info['Telemetry'][key]['Label']['en'] }}"
                        data-jp="{{ yaml_info['Telemetry'][key]['Label']['jp'] }}"
                    >
                        {{ yaml_info['Telemetry'][key]['Label']['en'] }}
                    </h3>
                    <table class="table table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col"
                                    data-en="{{ yaml_info['General']['Vocab']['Field']['Label']['en'] }}"
                                    data-jp="{{ yaml_info['General']['Vocab']['Field']['Label']['jp'] }}"
                                >
                                    {{ yaml_info['General']['Vocab']['Field']['Label']['en'] }}
                                </th>
                                <th scope="col"
                                    data-en="{{ yaml_info['General']['Vocab']['Unit']['Label']['en'] }}"
                                    data-jp="{{ yaml_info['General']['Vocab']['Unit']['Label']['jp'] }}"
                                >
                                    {{ yaml_info['General']['Vocab']['Unit']['Label']['en'] }}
                                </th>
                                <th scope="col"
                                    data-en="{{ yaml_info['General']['Vocab']['Type']['Label']['en'] }}"
                                    data-jp="{{ yaml_info['General']['Vocab']['Type']['Label']['jp'] }}"
                                >
                                    {{ yaml_info['General']['Vocab']['Type']['Label']['en'] }}
                                </th>
                                <th scope="col"
                                    data-en="{{ yaml_info['General']['Vocab']['Disk']['Label']['en'] }}"
                                    data-jp="{{ yaml_info['General']['Vocab']['Disk']['Label']['jp'] }}"
                                >
                                    {{ yaml_info['General']['Vocab']['Disk']['Label']['en'] }}
                                </th>
                                <th scope="col"
                                    data-en="{{ yaml_info['General']['Vocab']['Live']['Label']['en'] }}"
                                    data-jp="{{ yaml_info['General']['Vocab']['Live']['Label']['jp'] }}"
                                >
                                    {{ yaml_info['General']['Vocab']['Live']['Label']['en'] }}
                                </th>
                                <th scope="col"
                                    data-en="{{ yaml_info['General']['Vocab']['Description']['Label']['en'] }}"
                                    data-jp="{{ yaml_info['General']['Vocab']['Description']['Label']['jp'] }}"
                                >
                                    {{ yaml_info['General']['Vocab']['Description']['Label']['en'] }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for property in yaml_info['Telemetry'][key]['Property'] %}
                                <tr>
                                    <th scope="row">{{ property }}</th>
                                    <td>
                                        {{ yaml_info['Telemetry'][key]['Property'][property]['Unit'] }}
                                        {% if yaml_info['Telemetry'][key]['Property'][property]['Unit'][0:6] == 'irsdk_' %}
                                            {% set this_irsdk = yaml_info['Telemetry'][key]['Property'][property]['Unit'] %}
                                            <span
                                                class="collapsible collapsed"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapse_{{ this_irsdk }}"
                                                aria-expanded="false"
                                                aria-controls="collapse_{{ this_irsdk }}"
                                            >
                                                <span class="icon fa-regular fa-square-plus"></span>
                                            </span>
                                            <div class="collapse" id="collapse_{{ this_irsdk }}">
                                                <div class="card card-body">
                                                    {% for irsdk in yaml_info['irskdUnits'][this_irsdk] %}
                                                        <div>{{ irsdk }} = {{ yaml_info['irskdUnits'][this_irsdk][irsdk]['Value'] }}</div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>{{ yaml_info['Telemetry'][key]['Property'][property]['Type'] }}</td>
                                    <td>{{ yaml_info['Telemetry'][key]['Property'][property]['Disk'] }}</td>
                                    <td>{{ yaml_info['Telemetry'][key]['Property'][property]['Live'] }}</td>
                                    <td
                                        data-en="{{ yaml_info['Telemetry'][key]['Property'][property]['Description']['en'] }}"
                                        data-jp="{{ yaml_info['Telemetry'][key]['Property'][property]['Description']['jp'] }}"
                                    >
                                        {{ yaml_info['Telemetry'][key]['Property'][property]['Description']['en'] }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}

    <div id="Undocumented" class="row my-2 d-none">
        <div class="col-md-12">
            <div class="row my-2">
                <h3 scope="col"
                    data-en="{{ yaml_info['General']['Vocab']['Undocumented']['Label']['en'] }}"
                    data-jp="{{ yaml_info['General']['Vocab']['Undocumented']['Label']['jp'] }}"
                >
                    {{ yaml_info['General']['Vocab']['Undocumented']['Label']['en'] }}
                </h3>
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col"
                                data-en="{{ yaml_info['General']['Vocab']['Field']['Label']['en'] }}"
                                data-jp="{{ yaml_info['General']['Vocab']['Field']['Label']['jp'] }}"
                            >
                                {{ yaml_info['General']['Vocab']['Field']['Label']['en'] }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for property in undocumented_sensors_info %}
                            <tr>
                                <th scope="row">{{ property }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
