<div id="sensor_data" class="container-fluid" style="display: none;">
    <div class="row my-2">
        <div class="col-md-12">
            {% for key in yaml_info['Telemetry'] %}
                <button class="btn btn-info" onclick="showSensorSection('{{ key }}')">
                    <span
                        data-en="{{ yaml_info['Telemetry'][key]['Label']['en'] }}"
                        data-jp="{{ yaml_info['Telemetry'][key]['Label']['jp'] }}"
                    >
                        {{ yaml_info['Telemetry'][key]['Label']['en'] }}
                    </span>
                </button>
            {% endfor %}
        </div>
    </div>

    {% for key in yaml_info['Telemetry'] %}
        <div id="{{ key }}" class="row my-2" style="display: none;">
            <div class="col-md-12">
                <div class="row my-2">
                    <h3 scope="col"
                        data-en="{{ yaml_info['Telemetry'][key]['Label']['en'] }}"
                        data-jp="{{ yaml_info['Telemetry'][key]['Label']['jp'] }}"
                    >
                        {{ yaml_info['Telemetry'][key]['Label']['en'] }}
                    </h3>
                    <table class="table table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col"
                                    data-en="{{ yaml_info['General']['Table']['Field']['Label']['en'] }}"
                                    data-jp="{{ yaml_info['General']['Table']['Field']['Label']['jp'] }}"
                                >
                                    {{ yaml_info['General']['Table']['Field']['Label']['en'] }}
                                </th>
                                <th scope="col"
                                    data-en="{{ yaml_info['General']['Table']['Unit']['Label']['en'] }}"
                                    data-jp="{{ yaml_info['General']['Table']['Unit']['Label']['jp'] }}"
                                >
                                    {{ yaml_info['General']['Table']['Unit']['Label']['en'] }}
                                </th>
                                <th scope="col"
                                    data-en="{{ yaml_info['General']['Table']['Type']['Label']['en'] }}"
                                    data-jp="{{ yaml_info['General']['Table']['Type']['Label']['jp'] }}"
                                >
                                    {{ yaml_info['General']['Table']['Type']['Label']['en'] }}
                                </th>
                                <th scope="col"
                                    data-en="{{ yaml_info['General']['Table']['Disk']['Label']['en'] }}"
                                    data-jp="{{ yaml_info['General']['Table']['Disk']['Label']['jp'] }}"
                                >
                                    {{ yaml_info['General']['Table']['Disk']['Label']['en'] }}
                                </th>
                                <th scope="col"
                                    data-en="{{ yaml_info['General']['Table']['Live']['Label']['en'] }}"
                                    data-jp="{{ yaml_info['General']['Table']['Live']['Label']['jp'] }}"
                                >
                                    {{ yaml_info['General']['Table']['Live']['Label']['en'] }}
                                </th>
                                <th scope="col"
                                    data-en="{{ yaml_info['General']['Table']['Description']['Label']['en'] }}"
                                    data-jp="{{ yaml_info['General']['Table']['Description']['Label']['jp'] }}"
                                >
                                    {{ yaml_info['General']['Table']['Description']['Label']['en'] }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for property in yaml_info['Telemetry'][key]['Property'] %}
                                <tr>
                                    <th scope="row">{{ property }}</th>
                                    <td>{{ yaml_info['Telemetry'][key]['Property'][property]['Unit'] }}</td>
                                    <td>{{ yaml_info['Telemetry'][key]['Property'][property]['Type'] }}</td>
                                    <td>{{ yaml_info['Telemetry'][key]['Property'][property]['Disk'] }}</td>
                                    <td>{{ yaml_info['Telemetry'][key]['Property'][property]['Live'] }}</td>
                                    <td
                                        data-en="{{ yaml_info['Telemetry'][key]['Property'][property]['Description']['en'] }}"
                                        data-jp="{{ yaml_info['Telemetry'][key]['Property'][property]['Description']['jp'] }}"
                                    >
                                        {{ yaml_info['Telemetry'][key]['Property'][property]['Description']['en'] }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
