<div id="telemetry_data" class="container-fluid" style="display: none;">
    <div class="row my-2">
        <div class="col-md-12">
            {% for key in ['Charts', 'Laps'] %}
                <button class="btn btn-info" onclick="showTelemetrySection('{{ key }}')">
                    <span
                        data-en="{{ yaml_info['General']['Button'][key]['Label']['en'] }}"
                        data-jp="{{ yaml_info['General']['Button'][key]['Label']['jp'] }}"
                    >
                        {{ yaml_info['General']['Button'][key]['Label']['en'] }}
                    </span>
                </button>
            {% endfor%}
        </div>
    </div>

    <!-- Laps -->
    {% include '_laps.html' %}

    <!-- Charts -->
    {% include '_charts.html' %}

    <!-- Track Maps -->
    {% include '_maps.html' %}
</div>
