<!DOCTYPE html>

<html>
    <head>
        <!-- meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- js -->
        <script src="/static/js/script.js" defer></script>

        <!-- css -->
        <link href="//cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="//cdnjs.cloudflare.com/ajax/libs/flag-icons/6.6.6/css/flag-icons.min.css" rel="stylesheet">

        <!-- -->
        <title data-en="iRacing Studio Analysis" data-jp="iRacing スタジオ アナリシス">iRacing Studio Analysis</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            {% include 'navbar.html' %}
        </nav>

        <div id="spinner-container" class="container-fluid">
            <div class="row my-2">
                <div class="col-md-12">
                    <span  class="spinner-border ml-auto" role="status" aria-hidden="true"></span>
                </div>
            </div>
        </div>

        <!-- Session Data -->
        {% include 'session.html' %}

        <!-- Telemetry Data -->
        {% include 'telemetry.html' %}
    </body>
</html>
