<!DOCTYPE html>

<html>
    <head>
        <!-- meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- js -->
        <script src="/static/js/script.js" defer></script>

        <!-- css -->
        <link href="//cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="//cdnjs.cloudflare.com/ajax/libs/flag-icons/6.6.6/css/flag-icons.min.css" rel="stylesheet">

        <!-- -->
        <title data-en="iRacing Studio Analysis" data-jp="iRacing スタジオ アナリシス">iRacing Studio Analysis</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <!-- switch language buttons -->
            <div class="row my-2">
                <div class="col-md-12">
                    <button class="btn btn-light" onclick="switchLanguage('en')">
                        <span class="fi fi-us"></span>
                        <span data-en="English" data-jp="英語"><!-- text from data attribute --></span>
                    </button>

                    <button class="btn btn-light" onclick="switchLanguage('jp')">
                        <span class="fi fi-jp"></span>
                        <span data-en="Japanese" data-jp="日本語"><!-- text from data attribute --></span>
                    </button>

                    <a class="btn btn-primary" href="{{ url_for('upload_file') }}" data-en="Upload" data-jp="アップロード"><!-- text from data attribute --></a>
                </div>
            </div>
        </nav>

        <h1>IBT content</h1>
        <pre> &bullet; {{ session_info }}</pre>
        <!--
        <pre> &bullet; {{ session_info.var_headers_names }}</pre>
        <pre> &bullet; {{ session_info._var_headers_dict }}</pre>
        <pre> &bullet; {{ session_info['RadioInfo'] }}</pre>
        -->
        <pre> &bullet; {{ telemetry_info }}</pre>
        <!--
        <pre> &bullet; {{ telemetry_info._var_headers_dict }}</pre>
        <pre> &bullet; {{ telemetry_info.get_all('Speed') }}</pre>
        -->

        <!-- Qualify Results Info -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Qualify Results Info</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for qualify in session_info['QualifyResultsInfo']['Results'] %}
                    <tr>
                        <th scope="row">Position {{ qualify['Position'] }}</th>
                            <td>
                                <ul>
                                    {% for qualify_options, qualify_values in qualify.items() %}
                                        <li>{{ qualify_options }}: {{ qualify_values }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Camera Info -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Camera Info</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for camera in session_info['CameraInfo']['Groups'] %}
                    <tr>
                        <th scope="row">Group {{ camera['GroupNum'] }}</th>
                        <td>
                            <ul>
                                {% for info_options, info_values in camera.items() %}
                                    <li>
                                        {{ info_options }}:
                                        {% if info_values[0] is mapping %}
                                            <ul>
                                                {% for info_sub_values in info_values %}
                                                    {% for sub_options, sub_values in info_sub_values.items() %}
                                                        <li>{{ sub_options }}: {{ sub_values }}</li>
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            {{ info_values }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Radio Info -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Radio Info</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for radio, info in session_info['RadioInfo'].items() %}
                    <tr>
                        <th scope="row">{{ radio }}</th>
                        <td>
                            {% if info[0] is mapping %}
                                <ul>
                                    {% for sub_info_values in info %}
                                        {% for sub_options, sub_values in sub_info_values.items() %}
                                            <li>
                                                {{ sub_options }}:
                                                {% if sub_values[0] is mapping %}
                                                    {% for info_sub_values in sub_values %}
                                                        {% for sub_options2, sub_values2 in info_sub_values.items() %}
                                                            <ul>
                                                                <li>{{ sub_options2 }}: {{ sub_values2 }}</li>
                                                            </ul>
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% else %}
                                                    {{ sub_values }}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{ info }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Driver Info -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Driver Info</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for driver, info in session_info['DriverInfo'].items() %}
                    {% if driver == 'Drivers' %}
                        {% for info_options in info %}
                            <tr>
                                <th scope="row">
                                    Driver
                                    {{ info_options['CarIdx'] }} -
                                    {{ info_options['UserName'] }}
                                    {% if info_options['CarIsAI'] %}(AI){% endif %}
                                </th>
                                <td>
                                    <ul>
                                        {% for sub_options, sub_values in info_options.items() %}
                                            <li>{{ sub_options }}: {{ sub_values }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <th scope="row">{{ driver }}</th>
                            <td>{{ info }}</td>
                        </tr>
                    {% endif%}
                {% endfor %}
            </tbody>
        </table>

        <!-- Split Time Info -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Split Time Info</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for split_time in session_info['SplitTimeInfo']['Sectors'] %}
                    {% for sector, info in split_time.items() %}
                        <tr>
                            <th scope="row">{{ sector }}</th>
                            <td>{{ info }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

        <!-- Car Setup -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Car Setup</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for setup, info in session_info['CarSetup'].items() %}
                    <tr>
                        <th scope="row">{{ setup }}</th>
                        {% if info is mapping %} <!-- use 'mapping' to check if dictionary -->
                            <td>
                                <ul>
                                    {% for info_options, info_value in info.items() %}
                                        {% if info_value is mapping %} <!-- use 'mapping' to check if dictionary -->
                                            <li>
                                                {{ info_options }}
                                                <ul>
                                                    {% for sub_options, sub_value in info_value.items() %}
                                                        <li>{{ sub_options }}: {{ sub_value }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li>{{ info_options }}: {{ info_value }}</li>
                                        {% endif %}
                                    {% endfor%}
                                </ul>
                            </td>
                        {% else %}
                            <td>{{ info }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Session Info -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Session Info</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for session_info in session_info['SessionInfo']['Sessions'] %}
                    {% for session, info in session_info.items() %}
                        <tr>
                            <th scope="row">{{ session }}</th>
                            {% if info is sequence and info|length == 1 %} <!-- use 'sequence' to check if list/tuple -->
                                <td>
                                    <ul>
                                        {% for info_options in info %}
                                            {% for idx, val in info_options.items() %}
                                                <li>{{ idx }}: {{ val }}</li>
                                            {% endfor %}
                                        {% endfor%}
                                    </ul>
                                </td>
                            {% else %}
                                <td>{{ info }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

        <!-- Weekend Info -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Weekend Info</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for weekend, info in session_info['WeekendInfo'].items() %}
                    <tr>
                        <th scope="row">{{ weekend }}</th>
                        {% if info is mapping %} <!-- use 'mapping' to check if dictionary -->
                            <td>
                                <ul>
                                    {% for info_options, info_value in info.items() %}
                                        <li>{{ info_options }}: {{ info_value }}</li>
                                    {% endfor%}
                                </ul>
                            </td>
                        {% else %}
                            <td>{{ info }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Telemetry -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Telemetry</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for header in telemetry_info._var_headers_dict %}
                    <tr>
                        <th scope="row">{{ header }}</th>
                        <td>{{ telemetry_info.get_all(header) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
