<!DOCTYPE html>

<html>
    <head>
        <!-- meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- js -->
        <script src="/static/js/script.js" defer></script>

        <!-- css -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flag-icons/6.6.6/css/flag-icons.min.css">
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- -->
        <title data-en="iRacing Studio Analysis" data-jp="iRacing スタジオ アナリシス">iRacing Studio Analysis</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <!-- switch language buttons -->
            <div class="row my-2">
                <div class="col-md-12">
                    <button class="btn btn-light" onclick="switchLanguage('en')">
                        <span class="fi fi-us"></span>
                        <span data-en="English" data-jp="英語"><!-- text from data attribute --></span>
                    </button>

                    <button class="btn btn-light" onclick="switchLanguage('jp')">
                        <span class="fi fi-jp"></span>
                        <span data-en="Japanese" data-jp="日本語"><!-- text from data attribute --></span>
                    </button>
                </div>
            </div>
        </nav>

        <div class="container-md">
            <div class="row my-2">
                <div class="col-md-12">
                    <h1 data-en="iRacing Studio Analysis" data-jp="iRacing スタジオ アナリシス"><!-- text from data attribute --></h1>
                    <p data-en="Upload iRacing telemetry file (.ibt) to start your analysis." data-jp="iRacingテレメトリーファイル（.ibt）をアップロードして下さい。"><!-- text from data attribute --></p>
                    <p data-en="Telemetry files are located in \Documents\iRacing\Telemetry\ folder." data-jp="テレメトリ ファイルは \Documents\iRacing\Telemetry\ フォルダーにあります。"><!-- text from data attribute --></p>
                    <form method="post" enctype="multipart/form-data">
                        <input type="file" name="file" accept=".ibt">
                        <input type="submit" value="Upload">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
