<!DOCTYPE html>

<html>
    <head>
        <!-- meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.6.6/css/flag-icons.min.css" rel="stylesheet">

        <!-- js -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/script.js" defer></script>

        <!-- -->
        <title
            data-en="{{ yaml_info['General']['Title']['Label']['en'] }}"
            data-jp="{{ yaml_info['General']['Title']['Label']['jp'] }}"
        >
            {{ yaml_info['General']['Title']['Label']['en'] }}
        </title>
    </head>

    <body id="index">
        <!-- Navbar -->
        {% include '_navbar.html' %}

        <!-- Content -->
        <div class="container-fluid">
            <div class="row my-2">
                <div class="col-md-12">
                    <h1
                        data-en="{{ yaml_info['General']['Title']['Label']['en'] }}"
                        data-jp="{{ yaml_info['General']['Title']['Label']['jp'] }}"
                    >
                        {{ yaml_info['General']['Title']['Label']['en'] }}
                    </h1>
                </div>
            </div>

            {% if is_localhost %}
                <div class="row my-2">
                    <div class="col-md-12">
                        <p
                            data-en="{{ yaml_info['General']['Intro']['Upload']['Label']['en'] }}"
                            data-jp="{{ yaml_info['General']['Intro']['Upload']['Label']['jp'] }}"
                        >
                            {{ yaml_info['General']['Intro']['Upload']['Label']['en'] }}
                        </p>
                    </div>
                </div>

                <form id="upload-demo-form" class="row my-2" method="post" enctype="multipart/form-data">
                    <div class="col-md-6">
                        <input class="form-control" type="file" name="uploadfile" accept=".ibt">
                    </div>
                    <div class="col-md-6">
                        <button id="upload-demo-submit" class="btn btn-primary" type="submit">
                            <span
                                id="upload-demo-spinner"
                                class="spinner-border spinner-border-sm d-none"
                                role="status"
                                aria-hidden="true"
                            ></span>
                            <span
                                data-en="{{ yaml_info['General']['Button']['Upload']['Label']['en'] }}"
                                data-jp="{{ yaml_info['General']['Button']['Upload']['Label']['jp'] }}"
                            >
                                {{ yaml_info['General']['Button']['Upload']['Label']['en'] }}
                            </span>
                        </button>
                    </div>
                </form>

                <div class="row my-2 mt-3">
                    <div class="col-md-12">
                        <p
                            data-en="{{ yaml_info['General']['Footnote']['Upload']['Label']['en'] }}"
                            data-jp="{{ yaml_info['General']['Footnote']['Upload']['Label']['jp'] }}"
                        >
                            {{ yaml_info['General']['Footnote']['Upload']['Label']['en'] }}
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="row my-2">
                    <div class="col-md-12">
                        <p
                            data-en="{{ yaml_info['General']['Intro']['Demo']['Label']['en'] }}"
                            data-jp="{{ yaml_info['General']['Intro']['Demo']['Label']['jp'] }}"
                        >
                            {{ yaml_info['General']['Intro']['Demo']['Label']['en'] }}
                        </p>
                    </div>
                </div>

                <form id="upload-demo-form" class="row my-2" method="post" enctype="multipart/form-data">
                    <div class="col-md-6">
                        <select class="form-select" name="demofile" id="demofile">
                            {% for file in demo_files %}
                                {% set demo_file_name = file.split("_") %}

                                {% set vehicle = demo_file_name[0].replace("-"," ") %}
                                {% set circuit = demo_file_name[1].replace("-"," ") %}
                                {% set event_type = demo_file_name[2].replace("-"," ") %}

                                <option value="{{ file }}">{{ vehicle }} @ {{ circuit }} [{{ event_type }}]</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <button id="upload-demo-submit" class="btn btn-primary" type="submit">
                            <span
                                id="upload-demo-spinner"
                                class="spinner-border spinner-border-sm d-none"
                                role="status"
                                aria-hidden="true"
                            ></span>
                            <span
                                data-en="{{ yaml_info['General']['Button']['Demo']['Label']['en'] }}"
                                data-jp="{{ yaml_info['General']['Button']['Demo']['Label']['jp'] }}"
                            >
                                {{ yaml_info['General']['Button']['Demo']['Label']['en'] }}
                            </span>
                        </button>
                    </div>
                </form>

                <div class="row my-2 mt-3">
                    <div class="col-md-12">
                        <p
                            data-en="{{ yaml_info['General']['Footnote']['Demo']['Label']['en'] }}"
                            data-jp="{{ yaml_info['General']['Footnote']['Demo']['Label']['jp'] }}"
                        >
                            {{ yaml_info['General']['Footnote']['Demo']['Label']['en'] }}
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </body>
</html>
