<div class="container-fluid">
    <div class="row my-2">
        <div class="col-md-12 text-white">
            <span class="h3 pe-2 align-middle" data-en="iRacing Studio Analysis" data-jp="iRacing スタジオ アナリシス"><!-- text from data attribute --></span>
            <button class="btn btn-light" onclick="switchLanguage('en')">
                <span class="fi fi-us"></span>
                <span data-en="English" data-jp="英語"><!-- text from data attribute --></span>
            </button>

            <button class="btn btn-light" onclick="switchLanguage('jp')">
                <span class="fi fi-jp"></span>
                <span data-en="Japanese" data-jp="日本語"><!-- text from data attribute --></span>
            </button>

            {% if session_info is defined or telemetry_info is defined %}
                <a class="btn btn-primary" href="{{ url_for('upload_file') }}" data-en="Upload" data-jp="アップロード"><!-- text from data attribute --></a>
            {% endif %}

            {% if session_info is defined %}
                <button class="btn btn-outline-info" onclick="showSessionData()">
                    <span data-en="Session Info" data-jp="セッション情報"><!-- text from data attribute --></span>
                </button>
            {% endif %}

            {% if telemetry_info is defined %}
                <button class="btn btn-outline-info" onclick="showTelemetryData()">
                    <span data-en="Telemetry Data" data-jp="テレメトリーデータ"><!-- text from data attribute --></span>
                </button>
            {% endif %}
        </div>
    </div>
</div>
