<script src="//cdn.jsdelivr.net/npm/@turf/turf"></script>

<div id="telemetry_data" class="container-fluid" style="display: none;">
    <div class="row my-2">
        <div class="col-md-12">
            {% for key in ['Charts', 'Laps'] %}
                <button class="btn btn-info" onclick="showTelemetrySection('{{ key }}')">
                    <span
                        data-en="{{ yaml_info['General']['Button'][key]['Label']['en'] }}"
                        data-jp="{{ yaml_info['General']['Button'][key]['Label']['jp'] }}"
                    >
                        {{ yaml_info['General']['Button'][key]['Label']['en'] }}
                    </span>
                </button>
            {% endfor%}
        </div>
    </div>

    <div id="Laps" class="row my-2" style="display: none;">
        <div class="col-md-12">
            <div class="row">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Lap No.</th>
                            <th scope="col">Lap Time</th>
                            <th scope="col">Delta (s)</th>
                            <th scope="col">Delta (%)</th>
                            <th scope="col">Lap Distance (km)</th>
                            <th scope="col">Speed (kph, Max)</th>
                            <th scope="col">Speed (kph, Avg)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for idx in lap_info %}
                            <tr>
                                <th scope="row">{{ idx.LapNum }}</th>
                                <td
                                    {% if idx.IsBestLap or idx.IsWorstLap %}
                                        class="table-{% if idx.IsBestLap %}success{% elif idx.IsWorstLap %}danger{% endif %} fw-bold"
                                        style="border-color:revert;"
                                    {% endif %}
                                >
                                    {{ idx.LapTime | timeformat }}
                                </td>
                                <td>{{ idx.DeltaToBestLap | round(3) }}</td>
                                <td>{{ idx.DeltaToBestLapPercent | round() }}</td>
                                <td
                                    {% if idx.IsBestLapDist or idx.IsWorstLapDist %}
                                        class="table-{% if idx.IsBestLapDist %}success{% elif idx.IsWorstLapDist %}danger{% endif %} fw-bold"
                                        style="border-color:revert;"
                                    {% endif %}
                                >
                                    {{ idx.LapDistance | to_km }}
                                </td>
                                <td
                                    {% if idx.IsBestMaxSpeed or idx.IsWorstMaxSpeed %}
                                        class="table-{% if idx.IsBestMaxSpeed %}success{% elif idx.IsWorstMaxSpeed %}danger{% endif %} fw-bold"
                                        style="border-color:revert;"
                                    {% endif %}
                                >
                                    {{ idx.SpeedMax | round(3) }}
                                </td>
                                <td
                                    {% if idx.IsBestAvgSpeed or idx.IsWorstAvgSpeed %}
                                        class="table-{% if idx.IsBestAvgSpeed %}success{% elif idx.IsWorstAvgSpeed %}danger{% endif %} fw-bold"
                                        style="border-color:revert;"
                                    {% endif %}
                                >
                                    {{ idx.SpeedAvg | round(3) }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="Charts" class="row my-2" style="display: none;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-6">
                    <div id="chartTrackMap"></div>
                </div>
                <script>
                    $(document).ready(function() {
                        /*
                            =========================
                            GPS: Track Map
                            =========================
                        */
                        const track_name = "{{ session_info['WeekendInfo']['TrackDisplayName'] }}";
                        const track_config = "{{ session_info['WeekendInfo']['TrackConfigName'] }}";
                        const vehicle = "{{ session_info['DriverInfo']['Drivers'][0]['CarScreenName'] }}";

                        const latitudes = {{ chart_info[1]['GPSLatitudeRefLap'] | tojson }};
                        const longitudes = {{ chart_info[1]['GPSLongitudeRefLap'] | tojson }};

                        const latitude_start = latitudes[0];
                        const longitude_start = longitudes[0]

                        const latitude_finish = latitudes[latitudes.length - 1];
                        const longitude_finish = longitudes[longitudes.length - 1];

                        // Since both GPS Lat/Lon are data from reference lap aka Best Lap
                        // sensor from best lap will need to be used to match
                        const speeds = {{ chart_info[chart_info[1]['LapBest']]['Speed'] | tojson }};
                        const rpms = {{ chart_info[chart_info[1]['LapBest']]['RPM'] | tojson }};
                        const gears = {{ chart_info[chart_info[1]['LapBest']]['Gear'] | tojson }};
                        const laptimes = {{ chart_info[chart_info[1]['LapBest']]['LapTime'] | tojson }};

                        // Convert and clean up
                        const speeds_kmh = speeds.map(speed => (speed * 3.6).toFixed(2));
                        const speeds_mph = speeds.map(speed => (speed * 2.237).toFixed(2));
                        const rpms_cleaned = rpms.map(rpm => Math.round(rpm));
                        const gears_cleaned = gears.map(gear => {
                            if (gear === 0) return 'N';
                            if (gear === -1) return 'R';
                            return gear.toString();
                        });
                        const laptimes_cleaned = laptimes.map(laptime => {
                            const minutes = Math.floor(laptime / 60);
                            const seconds = Math.floor(laptime % 60);
                            const milliseconds = Math.round((laptime % 1) * 1000);

                            const laptime_formatted = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}.${milliseconds.toString().padStart(3, '0')}`;

                            return laptime_formatted;
                        });

                        // Combine latitudes and longitudes into a GeoJSON format for Turf.js
                        const points = latitudes.map((lat, index) => ({
                            type: 'Feature',
                            geometry: {
                                type: 'Point',
                                coordinates: [longitudes[index], lat]
                            },
                            properties: {
                                // Attach data to each point
                                speed_kmh: speeds_kmh[index],
                                speed_mph: speeds_mph[index],
                                rpm: rpms_cleaned[index],
                                gear: gears_cleaned[index],
                                laptime: laptimes_cleaned[index],
                            },
                        }));

                        const customData = points.map((point) => [
                            point.properties.speed_mph,
                            point.properties.rpm,
                            point.properties.gear,
                            point.properties.laptime,
                        ]);

                        const geoJsonPoints = {
                            type: 'FeatureCollection',
                            features: points
                        };

                        // Use Turf.js to calculate the bounding box of the points
                        const bbox = turf.bbox(geoJsonPoints); // [west, south, east, north]

                        // Calculate the center (centroid) of the points
                        const center = turf.center(geoJsonPoints); // returns { type: 'Feature', geometry: { type: 'Point', coordinates: [lon, lat] } }

                        // Extract the center coordinates
                        const center_lat = center.geometry.coordinates[1];
                        const center_lon = center.geometry.coordinates[0];

                        // Set padding
                        const padding = 0.18; // 1.00 = 100 percent

                        // Expand the bounding box by the padding percentage
                        const lat_diff = bbox[3] - bbox[1];
                        const lon_diff = bbox[2] - bbox[0];

                        const expanded_bbox = [
                            bbox[0] - lon_diff * padding, // West
                            bbox[1] - lat_diff * padding, // South
                            bbox[2] + lon_diff * padding, // East
                            bbox[3] + lat_diff * padding  // North
                        ];

                        // Define the data trace for the map
                        var map_traces = [];

                        // Set marker for sectors
                        {% for idx in range(sector_info['SplitSectors']['Percentages'] | length) %}
                            {% if idx == (sector_info['SplitSectors']['Percentages'] | length) - 1 %}
                                var sector_start = {{ sector_info['SplitSectors']['SectorPoints'][idx] }};
                                var sector_end = -1;
                            {% else %}
                                var sector_start = {{ sector_info['SplitSectors']['SectorPoints'][idx] }};
                                var sector_end = {{ sector_info['SplitSectors']['SectorPoints'][idx + 1] }};
                            {% endif %}

                            var sector_lat = latitudes.slice(sector_start, sector_end);
                            var sector_lon = longitudes.slice(sector_start, sector_end);
                            var sector_speed_kmh = speeds_kmh.slice(sector_start, sector_end);

                            var sector_custom_data = points.slice(sector_start, sector_end).map((point) => [
                                point.properties.speed_mph,
                                point.properties.rpm,
                                point.properties.gear,
                                point.properties.laptime,
                            ]);

                            map_traces.push({
                                type: 'scattergeo',
                                mode: 'lines',
                                name: vehicle,
                                lat: latitudes.slice(sector_start, sector_end),
                                lon: longitudes.slice(sector_start, sector_end),
                                text: speeds_kmh.slice(sector_start, sector_end),
                                customdata: sector_custom_data,
                                hovertemplate:
                                    '%{customdata[3]}<br>' +
                                    '%{text} km/h<br>' +
                                    '%{customdata[0]} mph<br>' +
                                    '%{customdata[1]} revs/min<br>' +
                                    'Gear: %{customdata[2]}',
                                line: {
                                    color: '{{ sector_info['SplitSectors']['SectorColors'][idx] }}',
                                    width: 5,
                                },
                            });
                        {% endfor %}

                        // Start from 1 since sector 0 marker is the same as start
                        {% for idx in range(1,sector_info['SplitSectors']['Percentages'] | length) %}
                            map_traces.push({
                                type: 'scattergeo',
                                mode: 'markers',
                                lat: [{{ sector_info['SplitSectors']['Latitude'][idx] }}],
                                lon: [{{ sector_info['SplitSectors']['Longitude'][idx] }}],
                                marker: {
                                    size: 8,
                                    color: 'purple',
                                    symbol: 'diamond',
                                },
                                name: 'Sector {{idx}}',
                                text: 'Sector {{idx}}',
                                hoverinfo: 'text',
                            });
                        {% endfor %}

                        // Add finish point/line to the trace
                        map_traces.push({
                            type: 'scattergeo',
                            mode: 'markers',
                            lat: [latitude_finish],
                            lon: [longitude_finish],
                            marker: {
                                size: 12,
                                color: 'red',
                                symbol: 'circle',
                            },
                            name: 'Finish',
                            text: '🏁 Finish',
                            hoverinfo: 'text',
                        });

                        // Add start point/line to the trace
                        map_traces.push({
                            type: 'scattergeo',
                            mode: 'markers',
                            lat: [latitude_start],
                            lon: [longitude_start],
                            marker: {
                                size: 12,
                                color: 'green',
                                symbol: 'star',
                            },
                            name: 'Start',
                            text: '🟢 Start',
                            hoverinfo: 'text',
                        });

                        // Define the layout for the map, with center, zoom, and bounding box
                        var map_layout = {
                            autosize: true,
                            showlegend: false,
                            title: track_name + '<br>' + track_config,
                            geo: {
                                center: {
                                    lat: center_lat,
                                    lon: center_lon,
                                },
                                projection: {
                                    type: 'mercator',
                                },
                                // Set zoom level based on bounding box dimensions
                                lataxis: {range: [expanded_bbox[1], expanded_bbox[3]]},
                                lonaxis: {range: [expanded_bbox[0], expanded_bbox[2]]},
                            },
                        };

                        // Render the map with Plotly
                        Plotly.newPlot('chartTrackMap', map_traces, map_layout);
                    });
                </script>
            </div>

            <div class="row">
                <div class="col-6">
                    <div id="chartDeltaLapTime"></div>
                </div>
                <div class="col-6">
                    <div id="chartDeltaSpeed"></div>
                </div>

                <script>
                    $(document).ready(function() {
                        /*
                            =========================
                            Delta: Lap Time
                            =========================
                        */
                        var chartDeltaLapTime_traces = [];

                        {% for lap, data in chart_info.items() %}
                            chartDeltaLapTime_traces.push({
                                x: {{ data['DistanceRefLap'] | tojson }},
                                y: {{ data['LapTimeDelta'] | tojson }},
                                mode: 'lines',
                                name: 'Lap {{ lap }}',
                                visible: {% if loop.index == data['LapBest'] or loop.index == data['LapWorst'] %} true {% else %} 'legendonly' {% endif %},
                            });
                        {% endfor %}

                        var chartDeltaLapTime_layout = {
                            autosize: true,
                            showlegend: true,
                            title: 'Delta: Lap Time',
                            xaxis: {
                                title: 'Distance (m)',
                            },
                            yaxis: {
                                title: 'Lap Time Delta (s)',
                            },
                        };

                        Plotly.newPlot(
                            'chartDeltaLapTime',
                            chartDeltaLapTime_traces,
                            chartDeltaLapTime_layout,
                        );

                        /*
                            =========================
                            Delta: Speed
                            =========================
                        */
                        var chartDeltaSpeed_traces = [];

                        {% for lap, data in chart_info.items() %}
                            chartDeltaSpeed_traces.push({
                                x: {{ data['DistanceRefLap'] | tojson }},
                                y: {{ data['SpeedDelta'] | tojson }},
                                mode: 'lines',
                                name: 'Lap {{ lap }}',
                                visible: {% if loop.index == data['LapBest'] or loop.index == data['LapWorst'] %} true {% else %} 'legendonly' {% endif %},
                            });
                        {% endfor %}

                        var chartDeltaSpeed_layout = {
                            autosize: true,
                            showlegend: true,
                            title: 'Delta: Speed',
                            xaxis: {
                                title: 'Distance (m)',
                            },
                            yaxis: {
                                title: 'Speed Delta (m/s)',
                            },
                        };

                        Plotly.newPlot(
                            'chartDeltaSpeed',
                            chartDeltaSpeed_traces,
                            chartDeltaSpeed_layout,
                        );

                        /*
                            =========================
                            Sync hover on both delta charts
                            =========================
                        */
                        var chartDeltaLapTime = document.getElementById('chartDeltaLapTime');
                        var chartDeltaSpeed = document.getElementById('chartDeltaSpeed');

                        chartDeltaLapTime.on('plotly_hover', function(data) {
                            var curveNumber = data.points[0].curveNumber;
                            var pointIndex = data.points[0].pointIndex;

                            Plotly.Fx.hover('chartDeltaSpeed', [{
                                curveNumber: curveNumber, // match lap trace
                                pointNumber: pointIndex, // match point within the lap trace
                            }]);
                        });

                        chartDeltaLapTime.on('plotly_unhover', function(data) {
                            Plotly.Fx.unhover('chartDeltaSpeed');
                        });

                        chartDeltaSpeed.on('plotly_hover', function(data) {
                            var curveNumber = data.points[0].curveNumber;
                            var pointIndex = data.points[0].pointIndex;

                            Plotly.Fx.hover('chartDeltaLapTime', [{
                                curveNumber: curveNumber, // match lap trace
                                pointNumber: pointIndex, // match point within the lap trace
                            }]);
                        });

                        chartDeltaSpeed.on('plotly_unhover', function(data) {
                            Plotly.Fx.unhover('chartDeltaLapTime');
                        });
                    });
                </script>
            </div>

            <div class="row">
                <div class="col-6">
                    <div id="chartBrakeThrottle"></div>
                </div>
                <div class="col-6">
                    <div id="chartSpeedRpm"></div>
                </div>

                <!-- Ployly chart -->
                <script>
                    $(document).ready(function() {
                        /*
                            =========================
                            Brake and Throttle
                            =========================
                        */
                        var chartBrakeThrottle_traces = [];

                        {% for lap, data in chart_info.items() %}
                            chartBrakeThrottle_traces.push({
                                x: {{ data['Distance'] | tojson }},
                                y: {{ data['Throttle'] | tojson }},
                                yaxis: 'y1',
                                mode: 'lines',
                                name: 'L{{ lap }} Throttle',
                                visible: {% if loop.index == data['LapBest'] %} true {% else %} 'legendonly' {% endif %},
                            });
                        {% endfor %}

                        {% for lap, data in chart_info.items() %}
                            chartBrakeThrottle_traces.push({
                                x: {{ data['Distance'] | tojson }},
                                y: {{ data['Brake'] | tojson }},
                                yaxis: 'y2',
                                mode: 'lines',
                                name: 'L{{ lap }} Brake',
                                visible: {% if loop.index == data['LapBest'] %} true {% else %} 'legendonly' {% endif %},
                            });
                        {% endfor %}

                        var chartBrakeThrottle_layout = {
                            autosize: true,
                            showlegend: true,
                            title: 'Brake and Throttle',
                            xaxis: {
                                title: 'Distance (m)',
                            },
                            yaxis: {
                                title: 'Throttle (%)',
                                side: 'left',
                                overlaying: 'y2'
                            },
                            yaxis2: {
                                title: 'Brake (%)',
                                side: 'right',
                            },
                            legend: {
                                x: 1.1,
                                y: 1,
                                xanchor: 'left',
                                yanchor: 'top',
                            },
                        };

                        Plotly.newPlot(
                            'chartBrakeThrottle',
                            chartBrakeThrottle_traces,
                            chartBrakeThrottle_layout,
                        );

                        /*
                            =========================
                            Speed and RPM
                            =========================
                        */
                        var chartSpeedRpm_traces = [];

                        {% for lap, data in chart_info.items() %}
                            chartSpeedRpm_traces.push({
                                x: {{ data['Distance'] | tojson }},
                                y: {{ data['Speed'] | tojson }},
                                yaxis: 'y1',
                                mode: 'lines',
                                name: 'L{{ lap }} Speed',
                                visible: {% if loop.index == data['LapBest'] %} true {% else %} 'legendonly' {% endif %},
                            });
                        {% endfor %}

                        {% for lap, data in chart_info.items() %}
                            chartSpeedRpm_traces.push({
                                x: {{ data['Distance'] | tojson }},
                                y: {{ data['RPM'] | tojson }},
                                yaxis: 'y2',
                                mode: 'lines',
                                name: 'L{{ lap }} RPM',
                                visible: {% if loop.index == data['LapBest'] %} true {% else %} 'legendonly' {% endif %},
                            });
                        {% endfor %}

                        var chartSpeedRpm_layout = {
                            autosize: true,
                            showlegend: true,
                            title: 'Speed and RPM',
                            xaxis: {
                                title: 'Distance (m)',
                            },
                            yaxis: {
                                title: 'Speed (m/s)',
                                side: 'left',
                                overlaying: 'y2'
                            },
                            yaxis2: {
                                title: 'RPM (revs/min)',
                                side: 'right',
                            },
                            legend: {
                                x: 1.1,
                                y: 1,
                                xanchor: 'left',
                                yanchor: 'top',
                            },
                        };

                        Plotly.newPlot(
                            'chartSpeedRpm',
                            chartSpeedRpm_traces,
                            chartSpeedRpm_layout,
                        );

                        /*
                            =========================
                            Sync hover on Brake/Throttle and Speed/RPM
                            =========================
                        */
                        var chartBrakeThrottle = document.getElementById('chartBrakeThrottle');
                        var chartSpeedRpm = document.getElementById('chartSpeedRpm');

                        chartBrakeThrottle.on('plotly_hover', function(data) {
                            var curveNumber = data.points[0].curveNumber;
                            var pointIndex = data.points[0].pointIndex;

                            Plotly.Fx.hover('chartSpeedRpm', [{
                                curveNumber: curveNumber, // match lap trace
                                pointNumber: pointIndex, // match point within the lap trace
                            }]);
                        });

                        chartBrakeThrottle.on('plotly_unhover', function(data) {
                            Plotly.Fx.unhover('chartSpeedRpm');
                        });

                        chartSpeedRpm.on('plotly_hover', function(data) {
                            var curveNumber = data.points[0].curveNumber;
                            var pointIndex = data.points[0].pointIndex;

                            Plotly.Fx.hover('chartBrakeThrottle', [{
                                curveNumber: curveNumber, // match lap trace
                                pointNumber: pointIndex, // match point within the lap trace
                            }]);
                        });

                        chartSpeedRpm.on('plotly_unhover', function(data) {
                            Plotly.Fx.unhover('chartBrakeThrottle');
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
